# Understanding Hired Rides in NYC

_[Project prompt](https://docs.google.com/document/d/1VERPjEZcC1XSs4-02aM-DbkNr_yaJVbFjLJxaYQswqA/edit#)_

_This scaffolding notebook may be used to help setup your final project. It's **totally optional** whether you make use of this or not._

_If you do use this notebook, everything provided is optional as well - you may remove or add prose and code as you wish._

_Anything in italics (prose) or comments (in code) is meant to provide you with guidance. **Remove the italic lines and provided comments** before submitting the project, if you choose to use this scaffolding. We don't need the guidance when grading._

_**All code below should be consider "pseudo-code" - not functional by itself, and only a suggestion at the approach.**_

## Project Setup

In [42]:
pip install geopandas

Collecting geopandas
  Downloading geopandas-1.0.1-py3-none-any.whl.metadata (2.2 kB)
Requirement already satisfied: numpy>=1.22 in c:\programdata\anaconda3\lib\site-packages (from geopandas) (1.26.4)
Collecting pyogrio>=0.7.2 (from geopandas)
  Downloading pyogrio-0.10.0-cp312-cp312-win_amd64.whl.metadata (5.6 kB)
Requirement already satisfied: packaging in c:\programdata\anaconda3\lib\site-packages (from geopandas) (23.2)
Requirement already satisfied: pandas>=1.4.0 in c:\programdata\anaconda3\lib\site-packages (from geopandas) (2.2.2)
Collecting pyproj>=3.3.0 (from geopandas)
  Downloading pyproj-3.7.0-cp312-cp312-win_amd64.whl.metadata (31 kB)
Collecting shapely>=2.0.0 (from geopandas)
  Downloading shapely-2.0.6-cp312-cp312-win_amd64.whl.metadata (7.2 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.4.0->geopandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.4.0->geopandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.4.0->geopandas) (2023.3)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from pyogrio>=0.7.2->geopandas) (2024.8.30)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.4.0->geopandas) (1.16.0)
Downloading geopandas-1.0.1-py3-none-any.whl (323 kB)
   ---------------------------------------- 0.0/323.6 kB ? eta -:--:--
   ----------- ---------------------------- 92.2/323.6 kB 2.6 MB/s eta 0:00:01
   ---------------------------------------- 323.6/323.6 kB 5.1 MB/s eta 0:00:00
Downloading pyogrio-0.10.0-cp312-cp312-win_amd64.whl (16.2 MB)
   ---------------------------------------- 0.0/16.2 MB ? eta -:--:--
   ----- ---------------------------------- 2.3/16.2 MB 49.2 MB/s eta 0:00:01
   ------------ --------------------------- 5.1/16.2 MB 54.9 MB/s eta 0:00:01
   -------------------- ------------------- 8.2/16.2 MB 58.7 MB/s eta 0:00:01
   ---------------------------- ----------- 11.7/16.2 MB 65.6 MB/s eta 0:00:01
   ------------------------------------ --- 14.8/16.2 MB 72.6 MB/s eta 0:00:01
   ---------------------------------------  16.2/16.2 MB 72.6 MB/s eta 0:00:01
   ---------------------------------------- 16.2/16.2 MB 50.4 MB/s eta 0:00:00
Downloading pyproj-3.7.0-cp312-cp312-win_amd64.whl (6.2 MB)
   ---------------------------------------- 0.0/6.2 MB ? eta -:--:--
   ---------------------- ----------------- 3.5/6.2 MB 73.4 MB/s eta 0:00:01
   ---------------------------------------  6.2/6.2 MB 66.0 MB/s eta 0:00:01
   ---------------------------------------- 6.2/6.2 MB 49.7 MB/s eta 0:00:00
Downloading shapely-2.0.6-cp312-cp312-win_amd64.whl (1.4 MB)
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   ---------------------------------------  1.4/1.4 MB 89.0 MB/s eta 0:00:01
   ---------------------------------------- 1.4/1.4 MB 44.8 MB/s eta 0:00:00
Installing collected packages: shapely, pyproj, pyogrio, geopandas
Successfully installed geopandas-1.0.1 pyogrio-0.10.0 pyproj-3.7.0 shapely-2.0.6
Note: you may need to restart the kernel to use updated packages.

In [1]:
# all import statements needed for the project, for example:

import os
import time
import bs4
import re
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import pandas as pd
import geopandas as gpd
import requests
import sqlalchemy as db
import math
from pyproj import CRS, Transformer
from sqlalchemy import create_engine, Table, Column, Integer, Float, String, DateTime, MetaData
import sqlite3

In [2]:
TLC_URL = "https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page"

TAXI_ZONES_DIR = ""
TAXI_ZONES_SHAPEFILE = f"{TAXI_ZONES_DIR}/taxi_zones.shp"
WEATHER_CSV_DIR = ""

CRS = 4326  # coordinate reference system

# (lat, lon)
NEW_YORK_BOX_COORDS = ((40.560445, -74.242330), (40.908524, -73.717047))
LGA_BOX_COORDS = ((40.763589, -73.891745), (40.778865, -73.854838))
JFK_BOX_COORDS = ((40.639263, -73.795642), (40.651376, -73.766264))
EWR_BOX_COORDS = ((40.686794, -74.194028), (40.699680, -74.165205))

DATABASE_URL = "C:/Final_Project_Dataset/database"
DATABASE_SCHEMA_FILE = "schema.sql"
QUERY_DIRECTORY = "queries"

In [5]:
# Make sure the QUERY_DIRECTORY exists
try:
    os.mkdir(QUERY_DIRECTORY)
except Exception as e:
    if e.errno == 17:
        # the directory already exists
        pass
    else:
        raise

### We first get all the URLs for the datasets we want from the website and download them. ###

In [5]:
# Function to fetch webpage content
def fetch_webpage(url):
    """
    Fetches the content of a webpage given its URL.

    Parameters:
    url (str): The URL of the webpage to fetch.

    Returns:
    str: The HTML content of the webpage if the request is successful.

    Raises:
    Exception: If the request fails, an exception is raised with the status code.
    """
    response = requests.get(url)
    if response.status_code == 200:
        return response.text
    else:
        raise Exception(f"Failed to fetch webpage. Status code: {response.status_code}")

# Function for downloading the files
def download_file(link, destination_folder):
    """
    Downloads a single file from a given URL and saves it to a specified folder.

    Parameters:
    link (str): The URL of the file to be downloaded.
    destination_folder (str): The folder where the downloaded file will be saved.

    Returns:
    None

    Side Effects:
    - Creates the destination folder if it does not already exist.
    - Saves the downloaded file in the specified folder.
    - Prints the status of the download (success or failure).

    Notes:
    - If the download fails, an error message with the status code is printed.
    - The file is saved with its original name as derived from the URL.
    """
    response = requests.get(link)
    if response.status_code == 200:
        os.makedirs(destination_folder, exist_ok=True)
        filename = os.path.join(destination_folder, os.path.basename(link))
        with open(filename, "wb") as file:
            file.write(response.content)
        print(f"Downloaded: {filename}")
    else:
        print(f"Failed to download: {link}. Status code: {response.status_code}")

In [7]:
# Fetch webpage content
webpage_content = fetch_webpage(TLC_URL)
soup = BeautifulSoup(webpage_content, "html.parser")
links = [a['href'] for a in soup.find_all('a', href=True)]

# Regular expressions for yellow_tripdata and fhvhv_tripdata
yellow_tripdata_pattern = r'https://.*yellow_tripdata_202[01234].*\.parquet'
fhvhv_tripdata_pattern = r'https://.*fhvhv_tripdata_202[01234].*\.parquet'

# Filter links using the regular expressions
yellow_tripdata_links = [link for link in links if re.match(yellow_tripdata_pattern, link)]
fhvhv_tripdata_links = [link for link in links if re.match(fhvhv_tripdata_pattern, link)]

In [11]:
all_links = yellow_tripdata_links + fhvhv_tripdata_links

# Destination folder to save files
destination_folder = "C:/Final_Project_Dataset"
    
#Download all files
for i in all_links:
    download_file(i, destination_folder)

Failed to download: https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-01.parquet . Status code: 403
Failed to download: https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-02.parquet . Status code: 403
Failed to download: https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-03.parquet . Status code: 403
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2024-04.parquet
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2024-05.parquet
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2024-06.parquet
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2024-07.parquet
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2024-08.parquet
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2024-09.parquet
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2023-01.parquet
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2023-02.parquet
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2023-03.parquet
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2023-04.parquet
Failed to download: https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-05.parquet . Status code: 403
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2023-06.parquet
Failed to download: https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-07.parquet . Status code: 403
Failed to download: https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-08.parquet . Status code: 403
Failed to download: https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-09.parquet . Status code: 403
Failed to download: https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-10.parquet . Status code: 403
Failed to download: https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-11.parquet . Status code: 403
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2023-12.parquet
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2022-01.parquet
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2022-02.parquet
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2022-03.parquet
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2022-04.parquet
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2022-05.parquet
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2022-06.parquet
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2022-07.parquet
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2022-08.parquet
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2022-09.parquet
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2022-10.parquet
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2022-11.parquet
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2022-12.parquet
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2021-01.parquet
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2021-02.parquet
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2021-03.parquet
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2021-04.parquet
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2021-05.parquet
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2021-06.parquet
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2021-07.parquet
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2021-08.parquet
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2021-09.parquet
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2021-10.parquet
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2021-11.parquet
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2021-12.parquet
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2020-01.parquet
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2020-02.parquet
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2020-03.parquet
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2020-04.parquet
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2020-05.parquet
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2020-06.parquet
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2020-07.parquet
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2020-08.parquet
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2020-09.parquet
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2020-10.parquet
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2020-11.parquet
Downloaded: C:/Final_Project_Dataset\yellow_tripdata_2020-12.parquet
Failed to download: https://d37ci6vzurychx.cloudfront.net/trip-data/fhvhv_tripdata_2024-01.parquet . Status code: 403
Failed to download: https://d37ci6vzurychx.cloudfront.net/trip-data/fhvhv_tripdata_2024-02.parquet . Status code: 403
Failed to download: https://d37ci6vzurychx.cloudfront.net/trip-data/fhvhv_tripdata_2024-03.parquet . Status code: 403
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2024-04.parquet
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2024-05.parquet
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2024-06.parquet
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2024-07.parquet
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2024-08.parquet
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2024-09.parquet
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2023-01.parquet
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2023-02.parquet
Failed to download: https://d37ci6vzurychx.cloudfront.net/trip-data/fhvhv_tripdata_2023-03.parquet . Status code: 403
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2023-04.parquet
Failed to download: https://d37ci6vzurychx.cloudfront.net/trip-data/fhvhv_tripdata_2023-05.parquet . Status code: 403
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2023-06.parquet
Failed to download: https://d37ci6vzurychx.cloudfront.net/trip-data/fhvhv_tripdata_2023-07.parquet . Status code: 403
Failed to download: https://d37ci6vzurychx.cloudfront.net/trip-data/fhvhv_tripdata_2023-08.parquet . Status code: 403
Failed to download: https://d37ci6vzurychx.cloudfront.net/trip-data/fhvhv_tripdata_2023-09.parquet . Status code: 403
Failed to download: https://d37ci6vzurychx.cloudfront.net/trip-data/fhvhv_tripdata_2023-10.parquet . Status code: 403
Failed to download: https://d37ci6vzurychx.cloudfront.net/trip-data/fhvhv_tripdata_2023-11.parquet . Status code: 403
Failed to download: https://d37ci6vzurychx.cloudfront.net/trip-data/fhvhv_tripdata_2023-12.parquet . Status code: 403
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2022-01.parquet
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2022-02.parquet
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2022-03.parquet
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2022-04.parquet
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2022-05.parquet
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2022-06.parquet
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2022-07.parquet
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2022-08.parquet
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2022-09.parquet
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2022-10.parquet
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2022-11.parquet
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2022-12.parquet
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2021-01.parquet
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2021-02.parquet
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2021-03.parquet
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2021-04.parquet
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2021-05.parquet
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2021-06.parquet
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2021-07.parquet
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2021-08.parquet
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2021-09.parquet
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2021-10.parquet
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2021-11.parquet
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2021-12.parquet
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2020-01.parquet
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2020-02.parquet
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2020-03.parquet
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2020-04.parquet
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2020-05.parquet
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2020-06.parquet
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2020-07.parquet
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2020-08.parquet
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2020-09.parquet
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2020-10.parquet
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2020-11.parquet
Downloaded: C:/Final_Project_Dataset\fhvhv_tripdata_2020-12.parquet

#### There are quite a few links that fail when downloading programmatically. We will download them manually. ####

## Part 1: Data Preprocessing

In [9]:
#Example file 1-High Volume
file1 = 'C:/Final_Project_Dataset/fhvhv_tripdata_2023-02.parquet'
pd1 = pd.read_parquet(file1)
pd1

,hvfhs_license_num,dispatching_base_num,originating_base_num,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,...,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,shared_request_flag,shared_match_flag,access_a_ride_flag,wav_request_flag,wav_match_flag
0,HV0003,B03404,B03404,2023-02-01 00:12:17,2023-02-01 00:13:34,2023-02-01 00:15:34,2023-02-01 00:25:01,244,74,5.410,...,1.16,0.00,0.0,0.0,12.82,N,N,,N,N
1,HV0003,B03404,B03404,2023-02-01 00:24:45,2023-02-01 00:25:53,2023-02-01 00:26:07,2023-02-01 00:31:47,74,168,1.390,...,0.71,0.00,0.0,0.0,6.57,N,N,,N,N
2,HV0003,B03404,B03404,2023-02-01 00:06:48,2023-02-01 00:08:47,2023-02-01 00:09:57,2023-02-01 00:13:09,36,36,0.600,...,0.67,0.00,0.0,3.0,5.37,N,N,,N,N
3,HV0003,B03404,B03404,2023-02-01 00:14:35,2023-02-01 00:16:31,2023-02-01 00:17:43,2023-02-01 00:37:01,36,7,7.580,...,2.29,0.00,0.0,0.0,20.13,N,N,,N,N
4,HV0003,B03404,B03404,2023-02-01 00:43:28,2023-02-01 00:46:11,2023-02-01 00:47:59,2023-02-01 00:55:36,7,145,1.380,...,0.87,0.00,0.0,1.0,5.97,N,N,,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17960966,HV0005,B03406,None,2023-02-28 23:24:30,NaT,2023-02-28 23:31:04,2023-02-28 23:39:28,41,42,1.424,...,0.80,0.00,0.0,0.0,6.49,N,N,N,N,N
17960967,HV0005,B03406,None,2023-02-28 23:39:36,NaT,2023-02-28 23:42:36,2023-02-28 23:50:05,42,168,1.694,...,0.55,0.00,0.0,0.0,6.31,N,N,N,N,N
17960968,HV0003,B03404,B03404,2023-02-28 23:21:30,2023-02-28 23:22:21,2023-02-28 23:23:06,2023-02-28 23:34:37,79,87,3.030,...,1.44,2.75,0.0,0.0,10.72,N,N,,N,N
17960969,HV0003,B03404,B03404,2023-02-28 23:40:06,2023-02-28 23:42:54,2023-02-28 23:43:53,2023-02-28 23:58:03,209,106,3.620,...,1.60,2.75,0.0,0.0,12.93,N,N,,N,N
17960970,HV0003,B03404,B03404,2023-02-28 23:01:16,2023-02-28 23:02:03,2023-02-28 23:03:37,2023-02-28 23:09:07,234,234,0.930,...,1.31,2.75,0.0,0.0,10.63,N,N,,N,N

In [11]:
column_names1 = pd1.columns.tolist()
print(column_names1)

['hvfhs_license_num', 'dispatching_base_num', 'originating_base_num', 'request_datetime', 'on_scene_datetime', 'pickup_datetime', 'dropoff_datetime', 'PULocationID', 'DOLocationID', 'trip_miles', 'trip_time', 'base_passenger_fare', 'tolls', 'bcf', 'sales_tax', 'congestion_surcharge', 'airport_fee', 'tips', 'driver_pay', 'shared_request_flag', 'shared_match_flag', 'access_a_ride_flag', 'wav_request_flag', 'wav_match_flag']

In [13]:
#Example file 2-Yellow Taxi
file2 = 'C:/Final_Project_Dataset/yellow_tripdata_2023-09.parquet'
pd2 = pd.read_parquet(file2)
pd2

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2023-09-01 00:15:37,2023-09-01 00:20:21,1.0,0.80,1.0,N,163,230,2,6.50,3.5,0.5,0.00,0.0,1.0,11.50,2.5,0.00
1,2,2023-09-01 00:18:40,2023-09-01 00:30:28,2.0,2.34,1.0,N,236,233,1,14.20,1.0,0.5,2.00,0.0,1.0,21.20,2.5,0.00
2,2,2023-09-01 00:35:01,2023-09-01 00:39:04,1.0,1.62,1.0,N,162,236,1,8.60,1.0,0.5,2.00,0.0,1.0,15.60,2.5,0.00
3,2,2023-09-01 00:45:45,2023-09-01 00:47:37,1.0,0.74,1.0,N,141,229,1,5.10,1.0,0.5,1.00,0.0,1.0,11.10,2.5,0.00
4,2,2023-09-01 00:01:23,2023-09-01 00:38:05,1.0,9.85,1.0,N,138,230,1,45.00,6.0,0.5,17.02,0.0,1.0,73.77,2.5,1.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2846717,2,2023-09-30 23:31:12,2023-09-30 23:48:29,NaN,2.43,NaN,None,125,107,0,17.69,0.0,0.5,4.34,0.0,1.0,26.03,NaN,NaN
2846718,1,2023-09-30 23:42:18,2023-09-30 23:47:45,NaN,0.00,NaN,None,236,75,0,11.33,0.0,0.5,0.00,0.0,1.0,15.33,NaN,NaN
2846719,1,2023-09-30 23:03:35,2023-09-30 23:14:50,NaN,1.80,NaN,None,211,90,0,12.10,1.0,0.5,2.57,0.0,1.0,19.67,NaN,NaN
2846720,2,2023-09-30 23:57:05,2023-10-01 00:17:36,NaN,3.39,NaN,None,209,97,0,20.33,0.0,0.5,4.87,0.0,1.0,29.20,NaN,NaN
2846721,1,2023-09-30 23:25:47,2023-09-30 23:55:28,NaN,0.00,NaN,None,80,197,0,36.47,0.0,0.5,0.00,0.0,1.0,37.97,NaN,NaN

In [15]:
column_names2 = pd2.columns.tolist()
print(column_names2)

['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime', 'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag', 'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount', 'congestion_surcharge', 'Airport_fee']

### After Reading through the project, these are the columns we need to keep: ###

In [51]:
keep = ['tpep_pickup_datetime',
        'trip_distance',
        'PULocationID',	
        'DOLocationID',
        'fare_amount',
        'extra',
        'mta_tax',
        'tip_amount',
        'tolls_amount',
        'improvement_surcharge',
        'congestion_surcharge']

### Load Taxi Zones

In [51]:
def load_taxi_zones(shapefile):
    """
    Loads a shapefile containing NYC Taxi Zones and returns a dictionary mapping
    LocationID to latitude and longitude.

    Parameters:
    shapefile (str): Path to the shapefile.

    Returns:
    dict: A dictionary where keys are LocationIDs and values are dictionaries with
          'latitude' and 'longitude'.
    """
    # Load the shapefile into a GeoDataFrame
    taxi_zones = gpd.read_file(shapefile)

    # Ensure the GeoDataFrame has valid geometry
    if taxi_zones.geometry.is_empty.any():
        raise ValueError("Shapefile contains invalid geometry.")

    # Add latitude and longitude from centroids
    taxi_zones["centroid"] = taxi_zones.geometry.centroid
    taxi_zones["latitude"] = taxi_zones.centroid.y
    taxi_zones["longitude"] = taxi_zones.centroid.x

    # Handle duplicates by aggregating
    taxi_zones = taxi_zones.groupby("LocationID").agg({
        "latitude": "mean",
        "longitude": "mean"
    }).reset_index()

    # Create a dictionary mapping LocationID to coordinates
    location_mapping = taxi_zones.set_index("LocationID")[["latitude", "longitude"]].to_dict("index")

    return location_mapping

In [53]:
shapefile_path = "C:/Final_Project_Dataset/taxi_zones/taxi_zones.shp"
loaded_taxi_zones = load_taxi_zones(shapefile_path)

In [55]:
loaded_taxi_zones

{1: {'latitude': 191376.74953083202, 'longitude': 935996.8210162065},
 2: {'latitude': 164018.75440320166, 'longitude': 1031085.7186032843},
 3: {'latitude': 254265.47865856893, 'longitude': 1026452.6168734727},
 4: {'latitude': 202959.7823911368, 'longitude': 990633.9806410479},
 5: {'latitude': 140681.35137597343, 'longitude': 931871.3700680139},
 6: {'latitude': 157998.9356119239, 'longitude': 964319.735448061},
 7: {'latitude': 216719.21816867893, 'longitude': 1006496.6791586807},
 8: {'latitude': 222936.08755158543, 'longitude': 1005551.5711778702},
 9: {'latitude': 212969.8490136597, 'longitude': 1043002.6774243254},
 10: {'latitude': 186706.49646915717, 'longitude': 1042223.6050722591},
 11: {'latitude': 159429.3168836981, 'longitude': 982170.7832338787},
 12: {'latitude': 195378.9728508775, 'longitude': 979934.7305677243},
 13: {'latitude': 198691.52543753176, 'longitude': 979792.331028984},
 14: {'latitude': 166921.55042206828, 'longitude': 975952.0350819234},
 15: {'latitude': 224738.6129755755, 'longitude': 1043521.3830455702},
 16: {'latitude': 217243.7604961802, 'longitude': 1047016.784330188},
 17: {'latitude': 191215.0683591191, 'longitude': 998142.2060786379},
 18: {'latitude': 255416.74215301158, 'longitude': 1014623.3272763422},
 19: {'latitude': 207352.35251648712, 'longitude': 1060002.7496102},
 20: {'latitude': 251810.303512513, 'longitude': 1015821.8614530906},
 21: {'latitude': 158393.65778602433, 'longitude': 988821.3915776814},
 22: {'latitude': 162323.8287235864, 'longitude': 985566.4176542887},
 23: {'latitude': 160268.1237133335, 'longitude': 936800.3814228631},
 24: {'latitude': 231458.3760559646, 'longitude': 993807.2716583572},
 25: {'latitude': 189071.57913936634, 'longitude': 988101.2213261976},
 26: {'latitude': 169148.40746897226, 'longitude': 987397.4626662626},
 27: {'latitude': 142998.097106859, 'longitude': 1010116.0525911167},
 28: {'latitude': 198588.18036389697, 'longitude': 1037276.450260145},
 29: {'latitude': 150924.27687794657, 'longitude': 995023.0950078965},
 30: {'latitude': 159266.0868838442, 'longitude': 1033697.3819386285},
 31: {'latitude': 251801.91339506747, 'longitude': 1018696.4006329516},
 32: {'latitude': 254085.68414675994, 'longitude': 1021618.2183901309},
 33: {'latitude': 192774.49236567307, 'longitude': 985567.1393607879},
 34: {'latitude': 194618.42574558523, 'longitude': 992238.7448684232},
 35: {'latitude': 181203.32110491273, 'longitude': 1009147.2314989058},
 36: {'latitude': 194506.2645740725, 'longitude': 1007067.3784547453},
 37: {'latitude': 192491.0725491703, 'longitude': 1005813.8376355437},
 38: {'latitude': 192354.37534157524, 'longitude': 1057581.8857305443},
 39: {'latitude': 171746.3489405953, 'longitude': 1012077.4831532118},
 40: {'latitude': 186726.9441730333, 'longitude': 985371.6110268093},
 41: {'latitude': 232321.2905475168, 'longitude': 997734.6452331402},
 42: {'latitude': 237395.8715478042, 'longitude': 1000643.632259087},
 43: {'latitude': 224356.21221165065, 'longitude': 993789.0096985319},
 44: {'latitude': 130813.71730920512, 'longitude': 919325.6707014753},
 45: {'latitude': 198844.63611660182, 'longitude': 984762.4692829204},
 46: {'latitude': 248697.32700109552, 'longitude': 1044565.4049743084},
 47: {'latitude': 246329.04426500178, 'longitude': 1011831.0101993148},
 48: {'latitude': 216986.07003374878, 'longitude': 987063.1857021254},
 49: {'latitude': 189923.67993134004, 'longitude': 994687.7989075348},
 50: {'latitude': 218437.82028573466, 'longitude': 985597.5343919232},
 51: {'latitude': 257736.0317728284, 'longitude': 1031744.9710915012},
 52: {'latitude': 189441.98718140792, 'longitude': 985158.534254694},
 53: {'latitude': 223823.08273507966, 'longitude': 1027782.0265390344},
 54: {'latitude': 189642.16029755108, 'longitude': 983442.5831941621},
 55: {'latitude': 149479.23529518777, 'longitude': 987599.1763107228},
 56: {'latitude': 211320.61488990032, 'longitude': 1024091.3132080378},
 58: {'latitude': 245891.95429244667, 'longitude': 1033945.7966954281},
 59: {'latitude': 244801.2399171087, 'longitude': 1013307.8668851721},
 60: {'latitude': 243143.05780958594, 'longitude': 1015824.0717104394},
 61: {'latitude': 185009.74769500326, 'longitude': 1001091.0141538235},
 62: {'latitude': 182119.2885742171, 'longitude': 998457.1474750465},
 63: {'latitude': 188441.23189381982, 'longitude': 1018038.508018096},
 64: {'latitude': 216496.53369807045, 'longitude': 1056461.1692268404},
 65: {'latitude': 192606.94834778874, 'longitude': 988108.3766447257},
 66: {'latitude': 195128.66351404483, 'longitude': 988214.5459807585},
 67: {'latitude': 165020.58539900745, 'longitude': 980418.277887647},
 68: {'latitude': 211948.91240008172, 'longitude': 984272.7786326221},
 69: {'latitude': 242196.03761468016, 'longitude': 1007764.085658132},
 70: {'latitude': 217413.87058175215, 'longitude': 1020706.745137329},
 71: {'latitude': 174013.8443005886, 'longitude': 1001465.1562155226},
 72: {'latitude': 176959.91492476902, 'longitude': 1005823.7039946363},
 73: {'latitude': 214077.6206734465, 'longitude': 1037640.2378106113},
 74: {'latitude': 231170.7231356335, 'longitude': 1001596.4822018786},
 75: {'latitude': 227103.7596245498, 'longitude': 999272.1113831651},
 76: {'latitude': 180096.55428265326, 'longitude': 1018425.395770319},
 77: {'latitude': 182139.0472945757, 'longitude': 1013278.1286526012},
 78: {'latitude': 247139.97024585522, 'longitude': 1015923.6509313948},
 79: {'latitude': 204368.5018753222, 'longitude': 988147.6579909977},
 80: {'latitude': 199911.28634464616, 'longitude': 1001771.8842984998},
 81: {'latitude': 260268.37646953634, 'longitude': 1029422.4201378655},
 82: {'latitude': 208718.58925015814, 'longitude': 1018302.534288022},
 83: {'latitude': 208286.3127456639, 'longitude': 1014131.0479577216},
 84: {'latitude': 131946.88658336038, 'longitude': 932076.4501930304},
 85: {'latitude': 174677.62359658885, 'longitude': 997674.78128442},
 86: {'latitude': 158853.81499105782, 'longitude': 1052215.5705983127},
 87: {'latitude': 196785.94084490498, 'longitude': 982171.727891981},
 88: {'latitude': 195528.92479920073, 'longitude': 981057.2642958593},
 89: {'latitude': 171682.828384498, 'longitude': 995082.8902422966},
 90: {'latitude': 209708.74184834195, 'longitude': 985089.2186553577},
 91: {'latitude': 167452.06576771155, 'longitude': 1003654.1440255485},
 92: {'latitude': 216612.8159510848, 'longitude': 1031660.7208707302},
 93: {'latitude': 209164.12047047325, 'longitude': 1028348.080639231},
 94: {'latitude': 251942.57172494626, 'longitude': 1012040.665243386},
 95: {'latitude': 202150.22155636095, 'longitude': 1026474.8421587804},
 96: {'latitude': 193239.00952966628, 'longitude': 1019865.1809046713},
 97: {'latitude': 190949.61806373845, 'longitude': 991215.6982442432},
 98: {'latitude': 206939.6178548511, 'longitude': 1045981.3581738913},
 99: {'latitude': 149465.339574893, 'longitude': 932463.5770637904},
 100: {'latitude': 213801.8903360138, 'longitude': 987356.7624025445},
 101: {'latitude': 211194.12738601945, 'longitude': 1064321.6844356095},
 102: {'latitude': 195621.72184014547, 'longitude': 1018703.895664441},
 103: {'latitude': 191564.45226013983, 'longitude': 974531.972647803},
 106: {'latitude': 184655.37448370285, 'longitude': 986844.2853590193},
 107: {'latitude': 207721.84599820204, 'longitude': 988669.5907152938},
 108: {'latitude': 153648.26672411078, 'longitude': 989407.3274538667},
 109: {'latitude': 140370.83697271615, 'longitude': 942318.0695212188},
 110: {'latitude': 138144.9262860037, 'longitude': 948580.6069577679},
 111: {'latitude': 176867.70260620638, 'longitude': 986959.7652887183},
 112: {'latitude': 205059.36264106684, 'longitude': 998235.3938487581},
 113: {'latitude': 206174.92383447656, 'longitude': 985828.421266087},
 114: {'latitude': 204630.6079875288, 'longitude': 984976.1217439739},
 115: {'latitude': 164432.11292961225, 'longitude': 959864.0081423334},
 116: {'latitude': 240584.4096847475, 'longitude': 998496.7141201992},
 117: {'latitude': 155778.33770686, 'longitude': 1042676.051909837},
 118: {'latitude': 153002.19989383093, 'longitude': 947313.2115533687},
 119: {'latitude': 244528.83953167713, 'longitude': 1004682.7553744144},
 120: {'latitude': 247748.72753217374, 'longitude': 1003566.2603626965},
 121: {'latitude': 204689.62747248283, 'longitude': 1039005.1967439284},
 122: {'latitude': 198271.7856382352, 'longitude': 1050471.5070567904},
 123: {'latitude': 157857.78764196427, 'longitude': 994154.4642102672},
 124: {'latitude': 179131.7944112152, 'longitude': 1027278.1400976918},
 125: {'latitude': 203883.8201161869, 'longitude': 982175.1477564898},
 126: {'latitude': 235158.32693405412, 'longitude': 1015935.0216336484},
 127: {'latitude': 254822.37005747703, 'longitude': 1006568.4872156872},
 128: {'latitude': 257117.8925632856, 'longitude': 1005166.5528590761},
 129: {'latitude': 215206.60151323938, 'longitude': 1016021.9707671711},
 130: {'latitude': 195964.28511474803, 'longitude': 1041371.2864290018},
 131: {'latitude': 201910.06961972587, 'longitude': 1046313.573758885},
 132: {'latitude': 175062.67758486557, 'longitude': 1043488.1868617043},
 133: {'latitude': 172661.46367470387, 'longitude': 990855.5089877855},
 134: {'latitude': 197284.97927258155, 'longitude': 1031739.0022501621},
 135: {'latitude': 204694.61460670287, 'longitude': 1033808.0664842709},
 136: {'latitude': 254530.65081090233, 'longitude': 1010274.3202539553},
 137: {'latitude': 209039.3538898732, 'longitude': 990763.615736023},
 138: {'latitude': 221428.0449285067, 'longitude': 1019251.3069710146},
 139: {'latitude': 186064.86991700612, 'longitude': 1055193.0494190822},
 140: {'latitude': 218166.4343533099, 'longitude': 996787.6630546569},
 141: {'latitude': 218699.1927268597, 'longitude': 995431.1975186545},
 142: {'latitude': 221132.7753491493, 'longitude': 989365.0684741095},
 143: {'latitude': 221982.08549339895, 'longitude': 987671.7097013488},
 144: {'latitude': 201915.7902757445, 'longitude': 985104.1485227022},
 145: {'latitude': 210842.5649406597, 'longitude': 998411.7431344199},
 146: {'latitude': 214074.29665507557, 'longitude': 1002305.987357746},
 147: {'latitude': 237923.2448208716, 'longitude': 1012217.112268326},
 148: {'latitude': 201205.26489160702, 'longitude': 986773.5460915552},
 149: {'latitude': 159666.94559370997, 'longitude': 998651.5086685958},
 150: {'latitude': 150763.56700925966, 'longitude': 999908.708734879},
 151: {'latitude': 229997.64462554798, 'longitude': 993063.3768608607},
 152: {'latitude': 237290.9067861937, 'longitude': 997042.6288289687},
 153: {'latitude': 258429.1415350053, 'longitude': 1009034.6862684477},
 154: {'latitude': 155545.39617014467, 'longitude': 1011301.6035144813},
 155: {'latitude': 163199.94683754715, 'longitude': 1007772.0738285038},
 156: {'latitude': 169323.09568286434, 'longitude': 937831.3979157201},
 157: {'latitude': 203062.48265449997, 'longitude': 1011322.0566218888},
 158: {'latitude': 207069.85524818485, 'longitude': 981760.1630097581},
 159: {'latitude': 237403.26520762578, 'longitude': 1008372.3431942797},
 160: {'latitude': 201008.7480716868, 'longitude': 1017500.3337736354},
 161: {'latitude': 215447.5272239114, 'longitude': 990428.525989642},
 162: {'latitude': 214959.58164229896, 'longitude': 991908.5895678961},
 163: {'latitude': 217776.88244811285, 'longitude': 990463.7954353758},
 164: {'latitude': 212002.89303566894, 'longitude': 988362.833435725},
 165: {'latitude': 165498.6289448304, 'longitude': 996235.9681391948},
 166: {'latitude': 234186.3268721064, 'longitude': 994834.7872526807},
 167: {'latitude': 240777.45048551454, 'longitude': 1011274.10312161},
 168: {'latitude': 233426.31053268496, 'longitude': 1007276.6552625739},
 169: {'latitude': 248626.50066211302, 'longitude': 1010498.8966177455},
 170: {'latitude': 211701.31597992923, 'longitude': 990209.6000586881},
 171: {'latitude': 219265.33237573717, 'longitude': 1037005.2460888692},
 172: {'latitude': 147604.72249633484, 'longitude': 955074.2840242308},
 173: {'latitude': 213491.23352672328, 'longitude': 1022197.0870768115},
 174: {'latitude': 258865.70276778052, 'longitude': 1017705.6853706642},
 175: {'latitude': 209946.98083071175, 'longitude': 1052245.0396521217},
 176: {'latitude': 144049.9002898066, 'longitude': 950189.7218172458},
 177: {'latitude': 185807.8687629447, 'longitude': 1008206.4863896965},
 178: {'latitude': 164182.16421082919, 'longitude': 992488.3342148869},
 179: {'latitude': 220388.74304930714, 'longitude': 1004100.5532674759},
 180: {'latitude': 185450.93130147815, 'longitude': 1026677.5797665772},
 181: {'latitude': 183512.2660660261, 'longitude': 989405.7462567874},
 182: {'latitude': 244523.60478571683, 'longitude': 1023546.1195878815},
 183: {'latitude': 248698.68510380972, 'longitude': 1030844.6058161812},
 184: {'latitude': 255671.9999736178, 'longitude': 1037392.699343806},
 185: {'latitude': 250593.75299100287, 'longitude': 1024530.2532265898},
 186: {'latitude': 211974.4462185665, 'longitude': 986345.3986004688},
 187: {'latitude': 168165.56998955715, 'longitude': 945169.9571905945},
 188: {'latitude': 179279.2193722589, 'longitude': 998832.3808813528},
 189: {'latitude': 186158.9037662549, 'longitude': 993240.6149544868},
 190: {'latitude': 180324.55048010786, 'longitude': 992874.5690428183},
 191: {'latitude': 200041.3338398747, 'longitude': 1055901.629081539},
 192: {'latitude': 210299.49328919078, 'longitude': 1035449.7277915126},
 193: {'latitude': 216284.73388045916, 'longitude': 1000318.472670505},
 194: {'latitude': 227468.71626552643, 'longitude': 1005129.3426642001},
 195: {'latitude': 185397.130970592, 'longitude': 981704.0644012764},
 196: {'latitude': 203864.03666497374, 'longitude': 1022128.768997929},
 197: {'latitude': 192362.21698943275, 'longitude': 1031135.2530615153},
 198: {'latitude': 196698.5440138868, 'longitude': 1011501.4868411963},
 199: {'latitude': 227529.73980097013, 'longitude': 1016742.2004998754},
 200: {'latitude': 267014.1902550762, 'longitude': 1009963.3806263335},
 201: {'latitude': 149890.08516115407, 'longitude': 1027736.5213460764},
 202: {'latitude': 216861.1622843492, 'longitude': 998114.2657052308},
 203: {'latitude': 179057.24700622662, 'longitude': 1056534.442660378},
 204: {'latitude': 136202.98565098652, 'longitude': 926485.9389783139},
 205: {'latitude': 191188.33726989798, 'longitude': 1049933.6363754966},
 206: {'latitude': 172088.09238731404, 'longitude': 955854.2053012605},
 207: {'latitude': 217633.2993820884, 'longitude': 1012130.8105779189},
 208: {'latitude': 239283.26241425486, 'longitude': 1033088.7374246694},
 209: {'latitude': 197610.82357761072, 'longitude': 983234.0457223997},
 210: {'latitude': 154972.18794490898, 'longitude': 1000772.9141552745},
 211: {'latitude': 203008.49133300316, 'longitude': 983823.8071164908},
 212: {'latitude': 240931.2162116811, 'longitude': 1020315.9032821191},
 213: {'latitude': 237276.93187677432, 'longitude': 1023516.9037806736},
 214: {'latitude': 153070.10553933622, 'longitude': 960498.7813147745},
 215: {'latitude': 192344.28083004424, 'longitude': 1042216.2459479597},
 216: {'latitude': 185669.03225079025, 'longitude': 1034328.3000648457},
 217: {'latitude': 195734.9381403171, 'longitude': 995729.6302937921},
 218: {'latitude': 184218.4311918923, 'longitude': 1047209.1610987317},
 219: {'latitude': 180616.2541370329, 'longitude': 1049585.194577725},
 220: {'latitude': 260773.7150891078, 'longitude': 1008953.1291249457},
 221: {'latitude': 164718.9103742411, 'longitude': 963788.5728740784},
 222: {'latitude': 175209.80327776715, 'longitude': 1016880.3445569858},
 223: {'latitude': 222528.47602007707, 'longitude': 1010448.2493393868},
 224: {'latitude': 205899.41753291615, 'longitude': 990735.9403089168},
 225: {'latitude': 190001.9666835319, 'longitude': 1003139.565788068},
 226: {'latitude': 208048.82712851572, 'longitude': 1005124.9821983831},
 227: {'latitude': 173132.83396129613, 'longitude': 982958.7984940856},
 228: {'latitude': 176946.79144550333, 'longitude': 981122.0045878767},
 229: {'latitude': 214975.36687718582, 'longitude': 993906.1723071609},
 230: {'latitude': 216099.1397683868, 'longitude': 988628.0600467023},
 231: {'latitude': 200780.54042725134, 'longitude': 982065.7013854686},
 232: {'latitude': 199673.27702499644, 'longitude': 988955.8875201414},
 233: {'latitude': 212491.9358422481, 'longitude': 992439.5608777382},
 234: {'latitude': 209001.62663046308, 'longitude': 986894.2367963481},
 235: {'latitude': 249885.02158991544, 'longitude': 1007494.9920085217},
 236: {'latitude': 223613.7535760244, 'longitude': 996155.3867656847},
 237: {'latitude': 219305.82782555217, 'longitude': 993769.0237137815},
 238: {'latitude': 227717.51805898765, 'longitude': 991712.7644413216},
 239: {'latitude': 224895.87216479488, 'longitude': 990167.4982917221},
 240: {'latitude': 265226.43863678636, 'longitude': 1016879.869198504},
 241: {'latitude': 258631.99219990108, 'longitude': 1013115.8817520497},
 242: {'latitude': 247818.58816932616, 'longitude': 1025564.8278476673},
 243: {'latitude': 251552.22868853094, 'longitude': 1002830.5879831794},
 244: {'latitude': 245939.88065875435, 'longitude': 1000464.3110476533},
 245: {'latitude': 168837.0586013862, 'longitude': 955698.9158310394},
 246: {'latitude': 213727.4000817298, 'longitude': 983137.466109154},
 247: {'latitude': 241308.75707519878, 'longitude': 1005169.1230273262},
 248: {'latitude': 243211.97877621523, 'longitude': 1019590.3761034976},
 249: {'latitude': 206902.40799528995, 'longitude': 983453.2246483457},
 250: {'latitude': 242470.43505891712, 'longitude': 1026135.8006293959},
 251: {'latitude': 164047.36514970663, 'longitude': 949450.1344788744},
 252: {'latitude': 226490.62684080808, 'longitude': 1035297.1584300715},
 253: {'latitude': 216434.84686612728, 'longitude': 1028229.9452522065},
 254: {'latitude': 260702.71418530465, 'longitude': 1023253.9608941409},
 255: {'latitude': 201159.03335346075, 'longitude': 996053.8033052003},
 256: {'latitude': 198271.799699528, 'longitude': 995365.8780821689},
 257: {'latitude': 177405.49666927903, 'longitude': 990359.3815942473},
 258: {'latitude': 190229.06962103507, 'longitude': 1024249.8716237351},
 259: {'latitude': 266453.4145522804, 'longitude': 1025106.2307871642},
 260: {'latitude': 210434.8918941504, 'longitude': 1010211.9773426988},
 261: {'latitude': 197635.1737024674, 'longitude': 980639.5117675496},
 262: {'latitude': 221974.400787808, 'longitude': 999064.7250824339},
 263: {'latitude': 223005.98840944972, 'longitude': 997817.9196611019}}

In [57]:
from pyproj import CRS, Transformer
# Change the dictionary to normal lon & lat
transformer = Transformer.from_crs("EPSG:2263", "EPSG:4326", always_xy=True)

# Transform the coordinates in the dictionary
converted_mapping = {}
for loc_id, coords in loaded_taxi_zones.items():
    # Transform the projected coordinates to latitude and longitude
    lon, lat = transformer.transform(coords['longitude'], coords['latitude'])
    converted_mapping[loc_id] = {'latitude': lat, 'longitude': lon}

converted_mapping

{1: {'latitude': 40.69183016020959, 'longitude': -74.17400156582248},
 2: {'latitude': 40.61674619937379, 'longitude': -73.83129979354713},
 3: {'latitude': 40.86447372906584, 'longitude': -73.8474217852696},
 4: {'latitude': 40.72375208451233, 'longitude': -73.97696827424141},
 5: {'latitude': 40.55265878064343, 'longitude': -74.18848459794721},
 6: {'latitude': 40.600324409468406, 'longitude': -74.07177024696533},
 7: {'latitude': 40.761492617043125, 'longitude': -73.91969433569462},
 8: {'latitude': 40.77855862576789, 'longitude': -73.92308626324494},
 9: {'latitude': 40.75103435668664, 'longitude': -73.78794875477833},
 10: {'latitude': 40.67895308442328, 'longitude': -73.79098676199028},
 11: {'latitude': 40.60427268170344, 'longitude': -74.00748784386448},
 12: {'latitude': 40.70294582144012, 'longitude': -74.01556349991374},
 13: {'latitude': 40.712037924667264, 'longitude': -74.01607927269924},
 14: {'latitude': 40.62483367229869, 'longitude': -74.0298925099},
 15: {'latitude': 40.7833330046879, 'longitude': -73.78597285841018},
 16: {'latitude': 40.76273753216493, 'longitude': -73.77342112932584},
 17: {'latitude': 40.69150702161197, 'longitude': -73.94990480444068},
 18: {'latitude': 40.86768222238494, 'longitude': -73.89018381164814},
 19: {'latitude': 40.73548651046706, 'longitude': -73.72665540152784},
 20: {'latitude': 40.857779440562844, 'longitude': -73.88586744911127},
 21: {'latitude': 40.60142907301775, 'longitude': -73.98353783537917},
 22: {'latitude': 40.61221766982795, 'longitude': -73.99525864587314},
 23: {'latitude': 40.60644824321443, 'longitude': -74.17088508711593},
 24: {'latitude': 40.80197051563418, 'longitude': -73.96547935663406},
 25: {'latitude': 40.68563370139058, 'longitude': -73.98611374739605},
 26: {'latitude': 40.630949253264255, 'longitude': -73.98866057160336},
 27: {'latitude': 40.559134755628214, 'longitude': -73.90691199328067},
 28: {'latitude': 40.71159648931973, 'longitude': -73.80872922918115},
 29: {'latitude': 40.580921751571346, 'longitude': -73.96121662082737},
 30: {'latitude': 40.60368693988757, 'longitude': -73.82192752206782},
 31: {'latitude': 40.85774566451417, 'longitude': -73.87547602176667},
 32: {'latitude': 40.864002036456434, 'longitude': -73.86490091353166},
 33: {'latitude': 40.6957980847225, 'longitude': -73.99525009947318},
 34: {'latitude': 40.70085574405344, 'longitude': -73.97118860464191},
 35: {'latitude': 40.664002936640344, 'longitude': -73.91025776959916},
 36: {'latitude': 40.70052207677384, 'longitude': -73.91770956300488},
 37: {'latitude': 40.69499398960586, 'longitude': -73.92223688327465},
 38: {'latitude': 40.69434123971375, 'longitude': -73.73555411751046},
 39: {'latitude': 40.63803689672939, 'longitude': -73.8997346848635},
 40: {'latitude': 40.67919897887253, 'longitude': -73.99595622535054},
 41: {'latitude': 40.804333857858566, 'longitude': -73.95129204385638},
 42: {'latitude': 40.8182572500734, 'longitude': -73.94077208625764},
 43: {'latitude': 40.78247701262984, 'longitude': -73.96555540550199},
 44: {'latitude': 40.52549110546785, 'longitude': -74.23353546082052},
 45: {'latitude': 40.712459285136994, 'longitude': -73.99815145865519},
 46: {'latitude': 40.849085690707966, 'longitude': -73.78198762631824},
 47: {'latitude': 40.84274838600792, 'longitude': -73.90031694602852},
 48: {'latitude': 40.76225259858687, 'longitude': -73.98984489812494},
 49: {'latitude': 40.687967206026975, 'longitude': -73.96236337094902},
 50: {'latitude': 40.76623762332451, 'longitude': -73.99513534858681},
 51: {'latitude': 40.87397243195906, 'longitude': -73.82826339600581},
 52: {'latitude': 40.6866511779156, 'longitude': -73.99672407074303},
 53: {'latitude': 40.780911658515755, 'longitude': -73.84281297899702},
 54: {'latitude': 40.68720061705318, 'longitude': -74.00291135102258},
 55: {'latitude': 40.576961310705336, 'longitude': -73.98794360684474},
 56: {'latitude': 40.74661306153827, 'longitude': -73.85621361765583},
 58: {'latitude': 40.84145193921358, 'longitude': -73.8203932847595},
 59: {'latitude': 40.83855027505839, 'longitude': -73.89498592772226},
 60: {'latitude': 40.83399041103506, 'longitude': -73.88590027069773},
 61: {'latitude': 40.674469714192334, 'longitude': -73.93928693565553},
 62: {'latitude': 40.666540670529315, 'longitude': -73.94878830363868},
 63: {'latitude': 40.68383988904548, 'longitude': -73.87817285854474},
 64: {'latitude': 40.760614500455986, 'longitude': -73.73933650195845},
 65: {'latitude': 40.69533747220738, 'longitude': -73.98608592282788},
 66: {'latitude': 40.70225894512564, 'longitude': -73.98570157061832},
 67: {'latitude': 40.6196189778478, 'longitude': -74.01380228070624},
 68: {'latitude': 40.7484273300986, 'longitude': -73.99991779023728},
 69: {'latitude': 40.83141625187568, 'longitude': -73.91503006977001},
 70: {'latitude': 40.76335208099607, 'longitude': -73.86839538867875},
 71: {'latitude': 40.6442876673477, 'longitude': -73.93796619973367},
 72: {'latitude': 40.652364445415, 'longitude': -73.92225101477305},
 73: {'latitude': 40.75410890581649, 'longitude': -73.80729410936029},
 74: {'latitude': 40.80116912880846, 'longitude': -73.9373456595586},
 75: {'latitude': 40.79001067629398, 'longitude': -73.94575022751276},
 76: {'latitude': 40.660934157913516, 'longitude': -73.87682021500527},
 77: {'latitude': 40.666558715822845, 'longitude': -73.89536390861545},
 78: {'latitude': 40.84496040702046, 'longitude': -73.88552154399945},
 79: {'latitude': 40.727620122038296, 'longitude': -73.98593745737395},
 80: {'latitude': 40.71536964922733, 'longitude': -73.9367935879161},
 81: {'latitude': 40.880935114970065, 'longitude': -73.83664438963196},
 82: {'latitude': 40.73949534354323, 'longitude': -73.8771183310234},
 83: {'latitude': 40.73832393052052, 'longitude': -73.89217342295797},
 84: {'latitude': 40.528685582160755, 'longitude': -74.18767927741463},
 85: {'latitude': 40.64611615465671, 'longitude': -73.95162326816249},
 86: {'latitude': 40.60243266654381, 'longitude': -73.75524330826842},
 87: {'latitude': 40.706808425516016, 'longitude': -74.00749595416085},
 88: {'latitude': 40.70335788054845, 'longitude': -74.0115150281245},
 89: {'latitude': 40.63789963509721, 'longitude': -73.96096805763649},
 90: {'latitude': 40.742278583312206, 'longitude': -73.99697147759031},
 91: {'latitude': 40.62627246088452, 'longitude': -73.93009718315575},
 92: {'latitude': 40.7611014398131, 'longitude': -73.82885854846761},
 93: {'latitude': 40.74067383007372, 'longitude': -73.84086521275654},
 94: {'latitude': 40.858155189262895, 'longitude': -73.89953594476775},
 95: {'latitude': 40.72143156737173, 'longitude': -73.84766908657137},
 96: {'latitude': 40.697001507866105, 'longitude': -73.8715612898338},
 97: {'latitude': 40.690786583767746, 'longitude': -73.9748820144768},
 98: {'latitude': 40.73446263709749, 'longitude': -73.77725343413134},
 99: {'latitude': 40.57677255023222, 'longitude': -74.18642081572338},
 100: {'latitude': 40.75351274051303, 'longitude': -73.98878660966813},
 101: {'latitude': 40.74599312386359, 'longitude': -73.7110254285456},
 102: {'latitude': 40.7035460869547, 'longitude': -73.87573702732386},
 103: {'latitude': 40.69247156745238, 'longitude': -74.03504364295607},
 106: {'latitude': 40.67351267831398, 'longitude': -73.99064755008082},
 107: {'latitude': 40.73682398302768, 'longitude': -73.98405214924436},
 108: {'latitude': 40.58840360836442, 'longitude': -73.9814314279712},
 109: {'latitude': 40.55186202510041, 'longitude': -74.15089028926955},
 110: {'latitude': 40.54577972821088, 'longitude': -74.12834311100727},
 111: {'latitude': 40.65213720698318, 'longitude': -73.9902343725197},
 112: {'latitude': 40.72950616875672, 'longitude': -73.94954001249944},
 113: {'latitude': 40.732579026253674, 'longitude': -73.9943047162786},
 114: {'latitude': 40.72834036831643, 'longitude': -73.9973801630823},
 115: {'latitude': 40.61797101224406, 'longitude': -74.0878388464394},
 116: {'latitude': 40.82701260635661, 'longitude': -73.94852183123933},
 117: {'latitude': 40.59405915427385, 'longitude': -73.78962334973271},
 118: {'latitude': 40.58655482658561, 'longitude': -74.13298451453818},
 119: {'latitude': 40.837826783716714, 'longitude': -73.92615757846964},
 120: {'latitude': 40.8466669452917, 'longitude': -73.9301832301702},
 121: {'latitude': 40.72833291964906, 'longitude': -73.80244388409426},
 122: {'latitude': 40.71063914369108, 'longitude': -73.76113689765596},
 123: {'latitude': 40.59995386265359, 'longitude': -73.96433354731992},
 124: {'latitude': 40.6582475138648, 'longitude': -73.8449181204672},
 125: {'latitude': 40.72629040399525, 'longitude': -74.0074858070925},
 126: {'latitude': 40.81207420841891, 'longitude': -73.8855370337455},
 127: {'latitude': 40.866074893138844, 'longitude': -73.9193084235328},
 128: {'latitude': 40.872378832666904, 'longitude': -73.92436989163414},
 129: {'latitude': 40.75731177578825, 'longitude': -73.88531729044865},
 130: {'latitude': 40.70436904839545, 'longitude': -73.79398113023713},
 131: {'latitude': 40.72065547306544, 'longitude': -73.77610108565929},
 132: {'latitude': 40.64698510024821, 'longitude': -73.78652986349012},
 133: {'latitude': 40.640589941044496, 'longitude': -73.97619875860275},
 134: {'latitude': 40.70805097274517, 'longitude': -73.82871239790782},
 135: {'latitude': 40.72837725250497, 'longitude': -73.82119497835454},
 136: {'latitude': 40.86526406538747, 'longitude': -73.90591127838628},
 137: {'latitude': 40.74043892115907, 'longitude': -73.97649469938301},
 138: {'latitude': 40.774375816732636, 'longitude': -73.873628438902},
 139: {'latitude': 40.67709753140416, 'longitude': -73.7442347963469},
 140: {'latitude': 40.76548395144242, 'longitude': -73.9547390603464},
 141: {'latitude': 40.76694805479654, 'longitude': -73.95963501136171},
 142: {'latitude': 40.773633196128905, 'longitude': -73.98153235360773},
 143: {'latitude': 40.775965147319646, 'longitude': -73.9876456908124},
 144: {'latitude': 40.72088884086805, 'longitude': -73.99691858884708},
 145: {'latitude': 40.74537934472369, 'longitude': -73.94889156149159},
 146: {'latitude': 40.75424253686729, 'longitude': -73.93482891700025},
 147: {'latitude': 40.81967568059164, 'longitude': -73.89895654395085},
 148: {'latitude': 40.718938301131104, 'longitude': -73.99089636602756},
 149: {'latitude': 40.6049134658026, 'longitude': -73.94813561950728},
 150: {'latitude': 40.58047335130059, 'longitude': -73.94362868028261},
 151: {'latitude': 40.79796198028393, 'longitude': -73.96816820440951},
 152: {'latitude': 40.81797510016546, 'longitude': -73.95378220824486},
 153: {'latitude': 40.875967791801536, 'longitude': -73.91037864632285},
 154: {'latitude': 40.59357106687244, 'longitude': -73.90259516689072},
 155: {'latitude': 40.61459130879868, 'longitude': -73.91527729481503},
 156: {'latitude': 40.63130767438205, 'longitude': -74.16723425044069},
 157: {'latitude': 40.72399485039648, 'longitude': -73.90233075376986},
 158: {'latitude': 40.7350351831651, 'longitude': -74.00898419902498},
 159: {'latitude': 40.81825981956973, 'longitude': -73.91284931725946},
 160: {'latitude': 40.71833678461975, 'longitude': -73.88005123769709},
 161: {'latitude': 40.758027981780664, 'longitude': -73.97769803041939},
 162: {'latitude': 40.756687537617346, 'longitude': -73.97235615813489},
 163: {'latitude': 40.7644214387746, 'longitude': -73.97756856896713},
 164: {'latitude': 40.74857453693654, 'longitude': -73.98515644835915},
 165: {'latitude': 40.620923828653744, 'longitude': -73.95682439069601},
 166: {'latitude': 40.80945681703888, 'longitude': -73.96176369363279},
 167: {'latitude': 40.82751259617852, 'longitude': -73.90235207986518},
 168: {'latitude': 40.80734711638027, 'longitude': -73.91682152685682},
 169: {'latitude': 40.849058285066626, 'longitude': -73.90512246226346},
 170: {'latitude': 40.74774573203895, 'longitude': -73.97849158432054},
 171: {'latitude': 40.76835161995764, 'longitude': -73.80954532050765},
 172: {'latitude': 40.57176876885639, 'longitude': -74.10501884907058},
 173: {'latitude': 40.75257918636062, 'longitude': -73.86303757637424},
 174: {'latitude': 40.87713740796544, 'longitude': -73.87902219325525},
 175: {'latitude': 40.74267113545859, 'longitude': -73.75462177515529},
 176: {'latitude': 40.56199406259295, 'longitude': -74.12258304710812},
 177: {'latitude': 40.676643979648, 'longitude': -73.91363232497895},
 178: {'latitude': 40.617314684335554, 'longitude': -73.97032564615044},
 179: {'latitude': 40.77157021384615, 'longitude': -73.92833298669993},
 180: {'latitude': 40.675595010201214, 'longitude': -73.84704288454616},
 181: {'latitude': 40.670373980768005, 'longitude': -73.98141430754676},
 182: {'latitude': 40.837748625040106, 'longitude': -73.85798693850145},
 183: {'latitude': 40.849172484756885, 'longitude': -73.83158183808297},
 184: {'latitude': 40.86827511264962, 'longitude': -73.80785826289252},
 185: {'latitude': 40.85440494014381, 'longitude': -73.85439389980314},
 186: {'latitude': 40.74849716576957, 'longitude': -73.99243754419264},
 187: {'latitude': 40.62816593004213, 'longitude': -74.14078866147455},
 188: {'latitude': 40.65874469984108, 'longitude': -73.94744186388097},
 189: {'latitude': 40.67763534192634, 'longitude': -73.96758665136912},
 190: {'latitude': 40.661621710598034, 'longitude': -73.9689138001589},
 191: {'latitude': 40.71545380257635, 'longitude': -73.74153154913715},
 192: {'latitude': 40.74375187633024, 'longitude': -73.81522924223742},
 193: {'latitude': 40.76031345682181, 'longitude': -73.941997345654},
 194: {'latitude': 40.79100048638123, 'longitude': -73.92459671825748},
 195: {'latitude': 40.675548647019355, 'longitude': -74.00917842826674},
 196: {'latitude': 40.72615524559957, 'longitude': -73.86333836633429},
 197: {'latitude': 40.6945423878432, 'longitude': -73.83092432071815},
 198: {'latitude': 40.70652682085338, 'longitude': -73.9017091770337},
 199: {'latitude': 40.791132912174135, 'longitude': -73.88265799878711},
 200: {'latitude': 40.89952838046226, 'longitude': -73.90698753009411},
 201: {'latitude': 40.57798298905335, 'longitude': -73.84345437593673},
 202: {'latitude': 40.761899335777855, 'longitude': -73.94995272044949},
 203: {'latitude': 40.6578524002613, 'longitude': -73.73947394708196},
 204: {'latitude': 40.540333107919224, 'longitude': -74.20782577848769},
 205: {'latitude': 40.69120081596648, 'longitude': -73.76314608999355},
 206: {'latitude': 40.6389731051429, 'longitude': -74.10231443709439},
 207: {'latitude': 40.76398556081556, 'longitude': -73.89935257380462},
 208: {'latitude': 40.82331779920538, 'longitude': -73.82353890836147},
 209: {'latitude': 40.70907271927832, 'longitude': -74.00366448904686},
 210: {'latitude': 40.59202360691843, 'longitude': -73.94050725344536},
 211: {'latitude': 40.723888072060404, 'longitude': -74.00153759512791},
 212: {'latitude': 40.82790234607947, 'longitude': -73.86967998064887},
 213: {'latitude': 40.817858732890684, 'longitude': -73.8581349352209},
 214: {'latitude': 40.586786351126605, 'longitude': -74.08551242969601},
 215: {'latitude': 40.69442751519797, 'longitude': -73.79096478957263},
 216: {'latitude': 40.67615367273836, 'longitude': -73.8194594633455},
 217: {'latitude': 40.70391646835313, 'longitude': -73.95859683039497},
 218: {'latitude': 40.67208987326582, 'longitude': -73.77303557005415},
 219: {'latitude': 40.6621855181538, 'longitude': -73.7645050464996},
 220: {'latitude': 40.882403144304526, 'longitude': -73.91066491034807},
 221: {'latitude': 40.61876814401099, 'longitude': -74.07370335971028},
 222: {'latitude': 40.64752693460751, 'longitude': -73.88241274352464},
 223: {'latitude': 40.77742668296697, 'longitude': -73.9054073938334},
 224: {'latitude': 40.73182059189006, 'longitude': -73.97659759721292},
 225: {'latitude': 40.68816808255134, 'longitude': -73.93188776883784},
 226: {'latitude': 40.73769793411764, 'longitude': -73.92467277449282},
 227: {'latitude': 40.64188612045834, 'longitude': -74.00465260064145},
 228: {'latitude': 40.65235415076564, 'longitude': -74.0112729089247},
 229: {'latitude': 40.75672890813223, 'longitude': -73.96514581878095},
 230: {'latitude': 40.759817566309465, 'longitude': -73.98419655675737},
 231: {'latitude': 40.717772624799224, 'longitude': -74.0078796687525},
 232: {'latitude': 40.71473247007343, 'longitude': -73.98302469110321},
 233: {'latitude': 40.74991400028384, 'longitude': -73.97044261148469},
 234: {'latitude': 40.74033737258096, 'longitude': -73.9904579133977},
 235: {'latitude': 40.85252096967172, 'longitude': -73.91597580806709},
 236: {'latitude': 40.78043629001211, 'longitude': -73.95701192571859},
 237: {'latitude': 40.76861505664575, 'longitude': -73.96563472764679},
 238: {'latitude': 40.79170489453925, 'longitude': -73.9730488247599},
 239: {'latitude': 40.78396140232239, 'longitude': -73.97863191501314},
 240: {'latitude': 40.89459870941774, 'longitude': -73.88197740171728},
 241: {'latitude': 40.876512149833516, 'longitude': -73.89562019423215},
 242: {'latitude': 40.846783165013896, 'longitude': -73.85067120117776},
 243: {'latitude': 40.857108002782724, 'longitude': -73.93283170504228},
 244: {'latitude': 40.84170843286747, 'longitude': -73.94139929841424},
 245: {'latitude': 40.630049214870475, 'longitude': -74.10286021352394},
 246: {'latitude': 40.75330875946255, 'longitude': -74.00401551098165},
 247: {'latitude': 40.82898744957318, 'longitude': -73.9244099256833},
 248: {'latitude': 40.834165310932306, 'longitude': -73.87228957125745},
 249: {'latitude': 40.73457589628757, 'longitude': -74.00287502314927},
 250: {'latitude': 40.83210137235689, 'longitude': -73.84864087551631},
 251: {'latitude': 40.61688017760985, 'longitude': -74.12534780784381},
 252: {'latitude': 40.78819313151885, 'longitude': -73.81565687221273},
 253: {'latitude': 40.76063069299949, 'longitude': -73.84124397042739},
 254: {'latitude': 40.882156652347604, 'longitude': -73.85894862514452},
 255: {'latitude': 40.71880389196212, 'longitude': -73.95741813772918},
 256: {'latitude': 40.710880017563596, 'longitude': -73.95990457422253},
 257: {'latitude': 40.65361164157177, 'longitude': -73.97798212852373},
 258: {'latitude': 40.68872119747495, 'longitude': -73.85576671853391},
 259: {'latitude': 40.89793210648794, 'longitude': -73.85221512421664},
 260: {'latitude': 40.74423361478699, 'longitude': -73.90630719190789},
 261: {'latitude': 40.709138876288186, 'longitude': -74.01302283778836},
 262: {'latitude': 40.77593230221761, 'longitude': -73.94651047848446},
 263: {'latitude': 40.77876573980772, 'longitude': -73.9510100659439}}

### Calculate Sample Size

In [37]:
#count the number of uber data for a random month, for calculating p for uber data.
count = pd1['hvfhs_license_num'].value_counts().get('HV0003')
count

13280939

In [59]:
#Cochran’s sample size formula function
def coc(Z,p,e,N):
    n0 = (Z*Z*p*(1-p))/(e*e)
    n = n0/(1+(n0-1)/N)
    return n

#For high volume, we only care about Uber data. Use a random month for the proportion p.
p1 = 13280939/17960971

#look through some datasets and approximate the sample sizes for each type 
#99% Confidence interval and 0.01 precision
import math
coc_yellow = math.ceil(coc(2.58, 0.5, 0.01, 3000000))
coc_high = math.ceil(coc(2.58, p1, 0.01, 17000000))

#Though at the same time, it doesn't hurt to have a larger sample:
coc_high_2 = math.ceil(coc(2.58, 0.5, 0.01, 17000000))
print(coc_yellow, coc_high, coc_high_2)

16550 12816 16625

### Process Taxi Data

In [41]:
locations_taxi = ['yellow_tripdata_2020-01.parquet', 'yellow_tripdata_2020-02.parquet', 'yellow_tripdata_2020-03.parquet', 
                  'yellow_tripdata_2020-04.parquet', 'yellow_tripdata_2020-05.parquet', 'yellow_tripdata_2020-06.parquet', 
                  'yellow_tripdata_2020-07.parquet', 'yellow_tripdata_2020-08.parquet', 'yellow_tripdata_2020-09.parquet', 
                  'yellow_tripdata_2020-10.parquet', 'yellow_tripdata_2020-11.parquet', 'yellow_tripdata_2020-12.parquet', 
                  'yellow_tripdata_2021-01.parquet', 'yellow_tripdata_2021-02.parquet', 'yellow_tripdata_2021-03.parquet', 
                  'yellow_tripdata_2021-04.parquet', 'yellow_tripdata_2021-05.parquet', 'yellow_tripdata_2021-06.parquet', 
                  'yellow_tripdata_2021-07.parquet', 'yellow_tripdata_2021-08.parquet', 'yellow_tripdata_2021-09.parquet', 
                  'yellow_tripdata_2021-10.parquet', 'yellow_tripdata_2021-11.parquet', 'yellow_tripdata_2021-12.parquet', 
                  'yellow_tripdata_2022-01.parquet', 'yellow_tripdata_2022-02.parquet', 'yellow_tripdata_2022-03.parquet', 
                  'yellow_tripdata_2022-04.parquet', 'yellow_tripdata_2022-05.parquet', 'yellow_tripdata_2022-06.parquet', 
                  'yellow_tripdata_2022-07.parquet', 'yellow_tripdata_2022-08.parquet', 'yellow_tripdata_2022-09.parquet', 
                  'yellow_tripdata_2022-10.parquet', 'yellow_tripdata_2022-11.parquet', 'yellow_tripdata_2022-12.parquet', 
                  'yellow_tripdata_2023-01.parquet', 'yellow_tripdata_2023-02.parquet', 'yellow_tripdata_2023-03.parquet', 
                  'yellow_tripdata_2023-04.parquet', 'yellow_tripdata_2023-05.parquet', 'yellow_tripdata_2023-06.parquet', 
                  'yellow_tripdata_2023-07.parquet', 'yellow_tripdata_2023-08.parquet', 'yellow_tripdata_2023-09.parquet', 
                  'yellow_tripdata_2023-10.parquet', 'yellow_tripdata_2023-11.parquet', 'yellow_tripdata_2023-12.parquet', 
                  'yellow_tripdata_2024-01.parquet', 'yellow_tripdata_2024-02.parquet', 'yellow_tripdata_2024-03.parquet', 
                  'yellow_tripdata_2024-04.parquet', 'yellow_tripdata_2024-05.parquet', 'yellow_tripdata_2024-06.parquet', 
                  'yellow_tripdata_2024-07.parquet', 'yellow_tripdata_2024-08.parquet', 'yellow_tripdata_2024-09.parquet']
base_path = "C:/Final_Project_Dataset/"
locations_taxi = [f"{base_path}{file}" for file in locations_taxi]

In [53]:
#Load all datasets
taxi_dfs = []
for i in locations_taxi:
    df = pd.read_parquet(i,columns=keep)
    taxi_dfs.append(df)
    print("Added one month of Dataset")

Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset
Added one month of Dataset

In [55]:
taxi_dfs[0]

,tpep_pickup_datetime,trip_distance,PULocationID,DOLocationID,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,congestion_surcharge
0,2020-01-01 00:28:15,1.20,238,239,6.00,3.00,0.5,1.47,0.00,0.3,2.5
1,2020-01-01 00:35:39,1.20,239,238,7.00,3.00,0.5,1.50,0.00,0.3,2.5
2,2020-01-01 00:47:41,0.60,238,238,6.00,3.00,0.5,1.00,0.00,0.3,2.5
3,2020-01-01 00:55:23,0.80,238,151,5.50,0.50,0.5,1.36,0.00,0.3,0.0
4,2020-01-01 00:01:58,0.00,193,193,3.50,0.50,0.5,0.00,0.00,0.3,0.0
...,...,...,...,...,...,...,...,...,...,...,...
6405003,2020-01-31 23:08:00,12.07,191,35,52.18,2.75,0.5,0.00,0.00,0.3,NaN
6405004,2020-01-31 23:00:00,23.48,186,117,54.01,2.75,0.5,0.00,6.12,0.3,NaN
6405005,2020-01-31 23:13:00,12.09,164,131,38.02,2.75,0.5,0.00,6.12,0.3,NaN
6405006,2020-01-31 23:02:54,11.65,10,16,28.74,2.75,0.0,0.00,0.00,0.3,NaN
6405007,2020-01-31 23:56:37,8.54,247,81,31.31,2.75,0.0,0.00,0.00,0.3,NaN

In [63]:
#After finding the longitude and latitude, no need to keep PU / DO ID
keep_after = ['tpep_pickup_datetime',
              'trip_distance',
              'fare_amount',
              'extra',
              'mta_tax',
              'tip_amount',
              'tolls_amount',
              'improvement_surcharge',
              'congestion_surcharge']
# Define the latitude and longitude bounding box
LAT_MIN, LON_MIN = 40.560445, -74.242330
LAT_MAX, LON_MAX = 40.908524, -73.717047

def get_and_clean_taxi_month(df, location_mapping):
    """
    Loads, cleans, and processes a single month's Yellow Taxi data.

    Parameters:
    df: the pandas dataframe of a dataset for a specific month.
    location_mapping (dict): Dictionary mapping LocationID to latitude and longitude.

    Returns:
    pd.DataFrame: Cleaned DataFrame for the specified month.
    """
    # Map pickup and dropoff coordinates
    df["PU_latitude"] = df["PULocationID"].map(lambda x: location_mapping.get(x, {}).get("latitude"))
    df["PU_longitude"] = df["PULocationID"].map(lambda x: location_mapping.get(x, {}).get("longitude"))
    df["DO_latitude"] = df["DOLocationID"].map(lambda x: location_mapping.get(x, {}).get("latitude"))
    df["DO_longitude"] = df["DOLocationID"].map(lambda x: location_mapping.get(x, {}).get("longitude"))

    # Remove invalid trips (where mapping failed)
    df.dropna(subset=["PU_latitude", "PU_longitude", "DO_latitude", "DO_longitude"], inplace=True)

    # Filter trips within the bounding box
    df = df[
        (df["PU_latitude"].between(LAT_MIN, LAT_MAX)) &
        (df["PU_longitude"].between(LON_MIN, LON_MAX)) &
        (df["DO_latitude"].between(LAT_MIN, LAT_MAX)) &
        (df["DO_longitude"].between(LON_MIN, LON_MAX))
    ]

    # Keep only the neededcolumns
    df = df[keep_after+["PU_latitude", "PU_longitude", "DO_latitude", "DO_longitude"]]

    # Return cleaned DataFrame
    return df

In [63]:
#Clean all the dataframes in the list
taxi_data = []
for i in taxi_dfs:
    taxi_data.append(get_and_clean_taxi_month(i, converted_mapping))
    print("One dataset cleaned and added")

One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added
One dataset cleaned and added

In [65]:
taxi_data[0]

,tpep_pickup_datetime,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,congestion_surcharge,PU_latitude,PU_longitude,DO_latitude,DO_longitude
0,2020-01-01 00:28:15,1.20,6.00,3.00,0.5,1.47,0.00,0.3,2.5,40.791705,-73.973049,40.783961,-73.978632
1,2020-01-01 00:35:39,1.20,7.00,3.00,0.5,1.50,0.00,0.3,2.5,40.783961,-73.978632,40.791705,-73.973049
2,2020-01-01 00:47:41,0.60,6.00,3.00,0.5,1.00,0.00,0.3,2.5,40.791705,-73.973049,40.791705,-73.973049
3,2020-01-01 00:55:23,0.80,5.50,0.50,0.5,1.36,0.00,0.3,0.0,40.791705,-73.973049,40.797962,-73.968168
4,2020-01-01 00:01:58,0.00,3.50,0.50,0.5,0.00,0.00,0.3,0.0,40.760313,-73.941997,40.760313,-73.941997
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6405003,2020-01-31 23:08:00,12.07,52.18,2.75,0.5,0.00,0.00,0.3,NaN,40.715454,-73.741532,40.664003,-73.910258
6405004,2020-01-31 23:00:00,23.48,54.01,2.75,0.5,0.00,6.12,0.3,NaN,40.748497,-73.992438,40.594059,-73.789623
6405005,2020-01-31 23:13:00,12.09,38.02,2.75,0.5,0.00,6.12,0.3,NaN,40.748575,-73.985156,40.720655,-73.776101
6405006,2020-01-31 23:02:54,11.65,28.74,2.75,0.0,0.00,0.00,0.3,NaN,40.678953,-73.790987,40.762738,-73.773421
6405007,2020-01-31 23:56:37,8.54,31.31,2.75,0.0,0.00,0.00,0.3,NaN,40.828987,-73.924410,40.880935,-73.836644

In [69]:
#Merge all taxi data into a big dataframe
merged_taxi_data = pd.concat(taxi_data, ignore_index=True)

In [85]:
#Sample from the merged_data based on the calculated sample size
sampled_taxi = merged_taxi_data.sample(n=coc_yellow, random_state=20)

In [89]:
#save the data into 
sampled_taxi.to_csv("C:/Final_Project_Dataset/new-datasets/sampled_taxi.csv", index=False)

In [91]:
sampled_taxi.head()

,tpep_pickup_datetime,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,congestion_surcharge,PU_latitude,PU_longitude,DO_latitude,DO_longitude
154055577,2024-07-31 14:14:12,21.60,70.0,4.25,0.5,20.65,6.94,1.0,2.5,40.646985,-73.786530,40.773633,-73.981532
117295315,2023-08-20 14:38:18,0.80,7.2,0.00,0.5,0.00,0.00,1.0,0.0,40.804334,-73.951292,40.801169,-73.937346
118132084,2023-08-30 16:23:03,0.30,70.0,6.75,0.5,0.00,0.00,1.0,0.0,40.646985,-73.786530,40.646985,-73.786530
62556179,2022-03-24 00:20:37,4.88,17.5,0.50,0.5,0.00,0.00,0.3,2.5,40.742279,-73.996971,40.690787,-73.974882
94748298,2023-01-14 01:41:35,3.63,17.0,1.00,0.5,0.00,0.00,1.0,2.5,40.762253,-73.989845,40.790011,-73.945750

In [93]:
sampled_taxi.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16550 entries, 154055577 to 102803018
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   tpep_pickup_datetime   16550 non-null  datetime64[us]
 1   trip_distance          16550 non-null  float64
 2   fare_amount            16550 non-null  float64
 3   extra                  16550 non-null  float64
 4   mta_tax                16550 non-null  float64
 5   tip_amount             16550 non-null  float64
 6   tolls_amount           16550 non-null  float64
 7   improvement_surcharge  16550 non-null  float64
 8   congestion_surcharge   15768 non-null  float64
 9   PU_latitude            16550 non-null  float64
 10  PU_longitude           16550 non-null  float64
 11  DO_latitude            16550 non-null  float64
 12  DO_longitude           16550 non-null  float64
dtypes: datetime64[us](1), float64(12)
memory usage: 1.8 MB

In [95]:
sampled_taxi.describe()

,tpep_pickup_datetime,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,congestion_surcharge,PU_latitude,PU_longitude,DO_latitude,DO_longitude
count,16550,16550.000000,16550.000000,16550.000000,16550.000000,16550.000000,16550.000000,16550.000000,15768.000000,16550.000000,16550.000000,16550.000000,16550.000000
mean,2022-07-25 22:46:23.288580,3.261310,15.755911,1.229181,0.489577,2.808393,0.459938,0.584755,2.286117,40.751990,-73.966725,40.754254,-73.970801
min,2020-01-01 00:36:56,0.000000,-72.300000,-7.000000,-0.500000,0.000000,-6.940000,-1.000000,-2.500000,40.576961,-74.174002,40.576961,-74.174002
25%,2021-08-06 17:39:03.250000,1.030000,7.500000,0.000000,0.500000,0.000000,0.000000,0.300000,2.500000,40.740337,-73.990458,40.740337,-73.989845
50%,2022-08-26 14:04:28.500000,1.790000,11.000000,0.500000,0.500000,2.240000,0.000000,0.300000,2.500000,40.756729,-73.978492,40.756729,-73.977698
75%,2023-09-20 16:50:32.500000,3.330000,17.700000,2.500000,0.500000,3.580000,0.000000,1.000000,2.500000,40.773633,-73.965146,40.774376,-73.959635
max,2024-09-30 17:42:34,40.100000,180.000000,11.750000,0.500000,64.100000,39.390000,1.000000,2.500000,40.899528,-73.726655,40.899528,-73.726655
std,NaN,4.150937,14.676258,1.512130,0.093751,3.287208,1.852047,0.364538,0.756462,0.032427,0.047152,0.033139,0.037645

### Processing Uber Data

In [25]:
locations_Uber = ['fhvhv_tripdata_2020-01.parquet', 'fhvhv_tripdata_2020-02.parquet', 'fhvhv_tripdata_2020-03.parquet', 
                  'fhvhv_tripdata_2020-04.parquet', 'fhvhv_tripdata_2020-05.parquet', 'fhvhv_tripdata_2020-06.parquet', 
                  'fhvhv_tripdata_2020-07.parquet', 'fhvhv_tripdata_2020-08.parquet', 'fhvhv_tripdata_2020-09.parquet', 
                  'fhvhv_tripdata_2020-10.parquet', 'fhvhv_tripdata_2020-11.parquet', 'fhvhv_tripdata_2020-12.parquet', 
                  'fhvhv_tripdata_2021-01.parquet', 'fhvhv_tripdata_2021-02.parquet', 'fhvhv_tripdata_2021-03.parquet', 
                  'fhvhv_tripdata_2021-04.parquet', 'fhvhv_tripdata_2021-05.parquet', 'fhvhv_tripdata_2021-06.parquet', 
                  'fhvhv_tripdata_2021-07.parquet', 'fhvhv_tripdata_2021-08.parquet', 'fhvhv_tripdata_2021-09.parquet', 
                  'fhvhv_tripdata_2021-10.parquet', 'fhvhv_tripdata_2021-11.parquet', 'fhvhv_tripdata_2021-12.parquet', 
                  'fhvhv_tripdata_2022-01.parquet', 'fhvhv_tripdata_2022-02.parquet', 'fhvhv_tripdata_2022-03.parquet', 
                  'fhvhv_tripdata_2022-04.parquet', 'fhvhv_tripdata_2022-05.parquet', 'fhvhv_tripdata_2022-06.parquet', 
                  'fhvhv_tripdata_2022-07.parquet', 'fhvhv_tripdata_2022-08.parquet', 'fhvhv_tripdata_2022-09.parquet', 
                  'fhvhv_tripdata_2022-10.parquet', 'fhvhv_tripdata_2022-11.parquet', 'fhvhv_tripdata_2022-12.parquet', 
                  'fhvhv_tripdata_2023-01.parquet', 'fhvhv_tripdata_2023-02.parquet', 'fhvhv_tripdata_2023-03.parquet', 
                  'fhvhv_tripdata_2023-04.parquet', 'fhvhv_tripdata_2023-05.parquet', 'fhvhv_tripdata_2023-06.parquet', 
                  'fhvhv_tripdata_2023-07.parquet', 'fhvhv_tripdata_2023-08.parquet', 'fhvhv_tripdata_2023-09.parquet', 
                  'fhvhv_tripdata_2023-10.parquet', 'fhvhv_tripdata_2023-11.parquet', 'fhvhv_tripdata_2023-12.parquet', 
                  'fhvhv_tripdata_2024-01.parquet', 'fhvhv_tripdata_2024-02.parquet', 'fhvhv_tripdata_2024-03.parquet', 
                  'fhvhv_tripdata_2024-04.parquet', 'fhvhv_tripdata_2024-05.parquet', 'fhvhv_tripdata_2024-06.parquet', 
                  'fhvhv_tripdata_2024-07.parquet', 'fhvhv_tripdata_2024-08.parquet', 'fhvhv_tripdata_2024-09.parquet']
base_path = "C:/Final_Project_Dataset/"
locations_Uber = [f"{base_path}{file}" for file in locations_Uber]

In [27]:
len(locations_Uber)

57

In [29]:
keep_Uber = ["pickup_datetime",       
             "dropoff_datetime",     
             "PULocationID",         
             "DOLocationID",         
             "trip_miles",           
             "base_passenger_fare",  
             "tolls",               
             "sales_tax",
             "congestion_surcharge",
             "airport_fee",
             "tips"]

#After finding the longitude and latitude, no need to keep PU / DO ID
keep_Uber_after = ["pickup_datetime",       
             "dropoff_datetime",             
             "trip_miles",           
             "base_passenger_fare",  
             "tolls",               
             "sales_tax",
             "congestion_surcharge",
             "airport_fee",
             "tips"]

In [65]:
LAT_MIN, LON_MIN = 40.560445, -74.242330
LAT_MAX, LON_MAX = 40.908524, -73.717047
def get_and_clean_uber_month(df, location_mapping):
    """
    Loads, cleans, and processes a single month's Uber data.

    Parameters:
    df: the pandas dataframe of a dataset for a specific month.
    location_mapping (dict): Dictionary mapping LocationID to latitude and longitude.

    Returns:
    pd.DataFrame: Cleaned DataFrame for the specified month.
    """
    # Map pickup and dropoff coordinates
    df["PU_latitude"] = df["PULocationID"].map(lambda x: location_mapping.get(x, {}).get("latitude"))
    df["PU_longitude"] = df["PULocationID"].map(lambda x: location_mapping.get(x, {}).get("longitude"))
    df["DO_latitude"] = df["DOLocationID"].map(lambda x: location_mapping.get(x, {}).get("latitude"))
    df["DO_longitude"] = df["DOLocationID"].map(lambda x: location_mapping.get(x, {}).get("longitude"))

    # Remove invalid trips (where mapping failed)
    df.dropna(subset=["PU_latitude", "PU_longitude", "DO_latitude", "DO_longitude"], inplace=True)

    # Filter trips within the bounding box
    df = df[
        (df["PU_latitude"].between(LAT_MIN, LAT_MAX)) &
        (df["PU_longitude"].between(LON_MIN, LON_MAX)) &
        (df["DO_latitude"].between(LAT_MIN, LAT_MAX)) &
        (df["DO_longitude"].between(LON_MIN, LON_MAX))
    ]

    # Keep only the neededcolumns
    df = df[keep_Uber_after+["PU_latitude", "PU_longitude", "DO_latitude", "DO_longitude"]]

    # Return cleaned DataFrame
    return df

In [67]:
#We need to sample from each of the Uber datasets. Sampling from all of them together would be too huge.
#The sample size from each of the dataset would be:
coc_high_single = math.ceil(coc_high / 57)
coc_high_single

225

In [71]:
# We sample from each of the Uber data and save them into a separate dataset.
j=0
for i in locations_Uber:
    j=j+1
    df = pd.read_parquet(i,columns=keep_Uber)
    df = get_and_clean_uber_month(df, converted_mapping)
    sampled_Uber = df.sample(n=coc_high_single, random_state=20)
    sampled_Uber.to_csv(f"C:/Final_Project_Dataset/new-datasets/sampled_Uber_{j}.csv", index=False)
    print("sampled one Uber dataset")

sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset
sampled one Uber dataset

In [81]:
def gather_sampled_Uber(parquet_files):
    """
    Reads Uber data from a list of Parquet files, selects relevant columns, and merges into a single DataFrame.

    Parameters:
    - parquet_files (list): List of file paths to Parquet files containing Uber data.

    Returns:
    - pd.DataFrame: Merged DataFrame containing filtered Uber data.
    """
    # Read and filter each Parquet file
    dataframes = [pd.read_csv(file) for file in parquet_files]
    
    # Merge all DataFrames into a single DataFrame
    merged_df = pd.concat(dataframes, ignore_index=True)
    
    return merged_df

In [83]:
Uber_samples = [f"C:/Final_Project_Dataset/new-datasets/sampled_Uber_{j}.csv" for j in range(1,58)]
uber_data = gather_sampled_Uber(Uber_samples)

In [85]:
uber_data.head()

,pickup_datetime,dropoff_datetime,trip_miles,base_passenger_fare,tolls,sales_tax,congestion_surcharge,airport_fee,tips,PU_latitude,PU_longitude,DO_latitude,DO_longitude
0,2020-01-24 10:07:44,2020-01-24 10:17:22,1.390,7.25,0.00,0.32,0.75,NaN,0.00,40.753309,-74.004016,40.740337,-73.990458
1,2020-01-29 12:30:22,2020-01-29 12:42:38,0.936,12.39,0.00,0.81,2.75,NaN,0.00,40.747746,-73.978492,40.758028,-73.977698
2,2020-01-10 22:58:00,2020-01-10 23:08:49,1.660,8.54,0.00,0.76,0.75,NaN,1.28,40.742279,-73.996971,40.740439,-73.976495
3,2020-01-31 22:08:57,2020-01-31 22:57:23,27.120,62.81,6.12,6.12,2.75,NaN,0.00,40.646985,-73.786530,40.775965,-73.987646
4,2020-01-04 00:46:54,2020-01-04 01:20:56,19.610,41.90,0.00,3.72,2.75,NaN,0.00,40.637900,-73.960968,40.841708,-73.941399

In [87]:
uber_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12825 entries, 0 to 12824
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   pickup_datetime       12825 non-null  object
 1   dropoff_datetime      12825 non-null  object
 2   trip_miles            12825 non-null  float64
 3   base_passenger_fare   12825 non-null  float64
 4   tolls                 12825 non-null  float64
 5   sales_tax             12825 non-null  float64
 6   congestion_surcharge  12825 non-null  float64
 7   airport_fee           9480 non-null   float64
 8   tips                  12825 non-null  float64
 9   PU_latitude           12825 non-null  float64
 10  PU_longitude          12825 non-null  float64
 11  DO_latitude           12825 non-null  float64
 12  DO_longitude          12825 non-null  float64
dtypes: float64(11), object(2)
memory usage: 1.3+ MB

In [89]:
uber_data.describe()

,trip_miles,base_passenger_fare,tolls,sales_tax,congestion_surcharge,airport_fee,tips,PU_latitude,PU_longitude,DO_latitude,DO_longitude
count,12825.000000,12825.000000,12825.000000,12825.000000,12825.000000,9480.000000,12825.000000,12825.000000,12825.000000,12825.000000,12825.000000
mean,4.454192,21.125140,0.671230,1.875443,1.061150,0.191983,0.863469,40.736389,-73.935184,40.736696,-73.934855
std,4.415970,15.467014,2.665775,1.429667,1.336459,0.671364,2.605712,0.067809,0.065128,0.068306,0.068437
min,0.000000,-14.760000,0.000000,0.000000,0.000000,0.000000,0.000000,40.561994,-74.170885,40.561994,-74.174002
25%,1.560000,10.660000,0.000000,0.920000,0.000000,0.000000,0.000000,40.690787,-73.984197,40.690787,-73.984052
50%,2.800000,16.570000,0.000000,1.440000,0.000000,0.000000,0.000000,40.735035,-73.948788,40.737698,-73.948136
75%,5.587000,26.230000,0.000000,2.340000,2.750000,0.000000,0.000000,40.774376,-73.900317,40.774376,-73.898957
max,36.790000,215.800000,49.050000,19.370000,5.500000,5.000000,98.000000,40.899528,-73.726655,40.899528,-73.726655

In [95]:
uber_data.to_csv("C:/Final_Project_Dataset/new-datasets/Uber_all_sample.csv", index=False)

### Processing Weather Data

In [3]:
weathers = ["2020_weather.csv","2021_weather.csv","2022_weather.csv","2023_weather.csv","2024_weather.csv"]
locations_weather = [f"C:/Final_Project_Dataset/weather/{file}" for file in weathers]
locations_weather

['C:/Final_Project_Dataset/weather/2020_weather.csv',
 'C:/Final_Project_Dataset/weather/2021_weather.csv',
 'C:/Final_Project_Dataset/weather/2022_weather.csv',
 'C:/Final_Project_Dataset/weather/2023_weather.csv',
 'C:/Final_Project_Dataset/weather/2024_weather.csv']

In [5]:
def get_all_weather_csvs(directory):
    """
    Reads all weather CSV files from a given directory and returns a combined DataFrame.

    Parameters:
    - directory (str): a list of string representing the directory containing the weather CSV files.

    Returns:
    - pd.DataFrame: A combined DataFrame with data from all the CSV files.
    """ 
    # Read all CSV files and combine them into a single DataFrame
    dataframes = [pd.read_csv(file, header=0, low_memory=False) for file in directory]
    combined_df = pd.concat(dataframes, ignore_index=True)
    
    return combined_df

weather_data = get_all_weather_csvs(locations_weather)

In [6]:
weather_data

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,REPORT_TYPE,SOURCE,HourlyAltimeterSetting,HourlyDewPointTemperature,...,BackupDirection,BackupDistance,BackupDistanceUnit,BackupElements,BackupElevation,BackupEquipment,BackupLatitude,BackupLongitude,BackupName,WindEquipmentChangeDate
0,72505394728,2020-01-01T00:51:00,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",FM-15,7,29.66,26,...,NaN,NaN,NaN,SNOW,NaN,SNOWBOARD,NaN,NaN,CENTRAL PARK CONSERVANCY AT 79TH ST TRANSVERSE...,2006-09-18
1,72505394728,2020-01-01T01:51:00,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",FM-15,7,29.67,27,...,NaN,NaN,NaN,SNOW,NaN,SNOWBOARD,NaN,NaN,CENTRAL PARK CONSERVANCY AT 79TH ST TRANSVERSE...,2006-09-18
2,72505394728,2020-01-01T02:51:00,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",FM-15,7,29.68,26,...,NaN,NaN,NaN,SNOW,NaN,SNOWBOARD,NaN,NaN,CENTRAL PARK CONSERVANCY AT 79TH ST TRANSVERSE...,2006-09-18
3,72505394728,2020-01-01T03:51:00,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",FM-15,7,29.70,24,...,NaN,NaN,NaN,SNOW,NaN,SNOWBOARD,NaN,NaN,CENTRAL PARK CONSERVANCY AT 79TH ST TRANSVERSE...,2006-09-18
4,72505394728,2020-01-01T04:51:00,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",FM-15,7,29.70,23,...,NaN,NaN,NaN,SNOW,NaN,SNOWBOARD,NaN,NaN,CENTRAL PARK CONSERVANCY AT 79TH ST TRANSVERSE...,2006-09-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56093,72505394728,2024-10-22T14:51:00,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",FM-15,7,30.23,48,...,NaN,NaN,NaN,SNOW,NaN,SNOWBOARD,NaN,NaN,CENTRAL PARK CONSERVANCY AT 79TH ST TRANSVERSE...,2006-09-18
56094,72505394728,2024-10-22T15:51:00,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",FM-15,6,30.21,48,...,NaN,NaN,NaN,SNOW,NaN,SNOWBOARD,NaN,NaN,CENTRAL PARK CONSERVANCY AT 79TH ST TRANSVERSE...,2006-09-18
56095,72505394728,2024-10-22T16:51:00,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",FM-15,6,30.21,47,...,NaN,NaN,NaN,SNOW,NaN,SNOWBOARD,NaN,NaN,CENTRAL PARK CONSERVANCY AT 79TH ST TRANSVERSE...,2006-09-18
56096,72505394728,2024-10-22T17:51:00,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",FM-15,6,30.22,48,...,NaN,NaN,NaN,SNOW,NaN,SNOWBOARD,NaN,NaN,CENTRAL PARK CONSERVANCY AT 79TH ST TRANSVERSE...,2006-09-18
56097,72505394728,2024-10-22T18:51:00,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",FM-15,6,30.23,49,...,NaN,NaN,NaN,SNOW,NaN,SNOWBOARD,NaN,NaN,CENTRAL PARK CONSERVANCY AT 79TH ST TRANSVERSE...,2006-09-18

In [9]:
# Convert the Date column to datetime format
weather_data["DATE"] = pd.to_datetime(weather_data["DATE"])

# Define the cutoff date
cutoff_date = pd.Timestamp("2024-10-01T0:0:00")

# Filter rows where the date is <= cutoff_date
weather_data = weather_data[weather_data["DATE"] <= cutoff_date]

In [11]:
weather_data

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,REPORT_TYPE,SOURCE,HourlyAltimeterSetting,HourlyDewPointTemperature,...,BackupDirection,BackupDistance,BackupDistanceUnit,BackupElements,BackupElevation,BackupEquipment,BackupLatitude,BackupLongitude,BackupName,WindEquipmentChangeDate
0,72505394728,2020-01-01 00:51:00,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",FM-15,7,29.66,26,...,NaN,NaN,NaN,SNOW,NaN,SNOWBOARD,NaN,NaN,CENTRAL PARK CONSERVANCY AT 79TH ST TRANSVERSE...,2006-09-18
1,72505394728,2020-01-01 01:51:00,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",FM-15,7,29.67,27,...,NaN,NaN,NaN,SNOW,NaN,SNOWBOARD,NaN,NaN,CENTRAL PARK CONSERVANCY AT 79TH ST TRANSVERSE...,2006-09-18
2,72505394728,2020-01-01 02:51:00,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",FM-15,7,29.68,26,...,NaN,NaN,NaN,SNOW,NaN,SNOWBOARD,NaN,NaN,CENTRAL PARK CONSERVANCY AT 79TH ST TRANSVERSE...,2006-09-18
3,72505394728,2020-01-01 03:51:00,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",FM-15,7,29.70,24,...,NaN,NaN,NaN,SNOW,NaN,SNOWBOARD,NaN,NaN,CENTRAL PARK CONSERVANCY AT 79TH ST TRANSVERSE...,2006-09-18
4,72505394728,2020-01-01 04:51:00,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",FM-15,7,29.70,23,...,NaN,NaN,NaN,SNOW,NaN,SNOWBOARD,NaN,NaN,CENTRAL PARK CONSERVANCY AT 79TH ST TRANSVERSE...,2006-09-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55518,72505394728,2024-09-30 21:51:00,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",FM-15,7,30.09,51,...,NaN,NaN,NaN,SNOW,NaN,SNOWBOARD,NaN,NaN,CENTRAL PARK CONSERVANCY AT 79TH ST TRANSVERSE...,2006-09-18
55519,72505394728,2024-09-30 22:51:00,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",FM-15,7,30.10,53,...,NaN,NaN,NaN,SNOW,NaN,SNOWBOARD,NaN,NaN,CENTRAL PARK CONSERVANCY AT 79TH ST TRANSVERSE...,2006-09-18
55520,72505394728,2024-09-30 23:51:00,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",FM-15,7,30.09,54,...,NaN,NaN,NaN,SNOW,NaN,SNOWBOARD,NaN,NaN,CENTRAL PARK CONSERVANCY AT 79TH ST TRANSVERSE...,2006-09-18
55521,72505394728,2024-09-30 23:59:00,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",SOD,6,NaN,NaN,...,NaN,NaN,NaN,SNOW,NaN,SNOWBOARD,NaN,NaN,CENTRAL PARK CONSERVANCY AT 79TH ST TRANSVERSE...,2006-09-18
55522,72505394728,2024-09-30 23:59:00,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",SOM,6,NaN,NaN,...,NaN,NaN,NaN,SNOW,NaN,SNOWBOARD,NaN,NaN,CENTRAL PARK CONSERVANCY AT 79TH ST TRANSVERSE...,2006-09-18

In [13]:
def clean_month_weather_data_hourly(weather_data):
    """
    Cleans the given weather dataset by:
    1. Keeping only rows where the REPORT_TYPE column is 'FM-15' or 'FM-16' (i.e. Hourly)
    2. Removing any column that is entirely empty.

    Parameters:
        weather_data (pd.DataFrame): The input weather dataset as a pandas DataFrame.

    Returns:
        pd.DataFrame: The cleaned weather dataset.
    """
    # Filter rows with REPORT_TYPE equal to 'FM-15' or 'FM-16'
    filtered_data = weather_data[weather_data['REPORT_TYPE'].isin(['FM-15', 'FM-16'])]

    # Remove columns that are entirely empty
    cleaned_data = filtered_data.dropna(axis=1, how='all')

    return cleaned_data

In [61]:
weather_hourly = clean_month_weather_data_hourly(weather_data)

weather_hourly

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,REPORT_TYPE,SOURCE,HourlyAltimeterSetting,HourlyDewPointTemperature,...,HourlyVisibility,HourlyWetBulbTemperature,HourlyWindDirection,HourlyWindGustSpeed,HourlyWindSpeed,REM,BackupElements,BackupEquipment,BackupName,WindEquipmentChangeDate
0,72505394728,2020-01-01 00:51:00,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",FM-15,7,29.66,26,...,10.00,35.0,VRB,NaN,8.0,MET12701/01/20 00:51:02 METAR KNYC 010551Z 270...,SNOW,SNOWBOARD,CENTRAL PARK CONSERVANCY AT 79TH ST TRANSVERSE...,2006-09-18
1,72505394728,2020-01-01 01:51:00,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",FM-15,7,29.67,27,...,10.00,34.0,280,17.0,8.0,MET10901/01/20 01:51:02 METAR KNYC 010651Z 280...,SNOW,SNOWBOARD,CENTRAL PARK CONSERVANCY AT 79TH ST TRANSVERSE...,2006-09-18
2,72505394728,2020-01-01 02:51:00,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",FM-15,7,29.68,26,...,10.00,34.0,260,23.0,14.0,MET10601/01/20 02:51:02 METAR KNYC 010751Z 260...,SNOW,SNOWBOARD,CENTRAL PARK CONSERVANCY AT 79TH ST TRANSVERSE...,2006-09-18
3,72505394728,2020-01-01 03:51:00,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",FM-15,7,29.70,24,...,10.00,33.0,250,23.0,11.0,MET10701/01/20 03:51:02 METAR KNYC 010851Z 250...,SNOW,SNOWBOARD,CENTRAL PARK CONSERVANCY AT 79TH ST TRANSVERSE...,2006-09-18
4,72505394728,2020-01-01 04:51:00,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",FM-15,7,29.70,23,...,10.00,32.0,VRB,20.0,6.0,MET09901/01/20 04:51:02 METAR KNYC 010951Z VRB...,SNOW,SNOWBOARD,CENTRAL PARK CONSERVANCY AT 79TH ST TRANSVERSE...,2006-09-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55516,72505394728,2024-09-30 19:51:00,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",FM-15,7,30.09,54,...,10.00,58,000,NaN,0.0,MET09209/30/24 19:51:01 METAR KNYC 010051Z 000...,SNOW,SNOWBOARD,CENTRAL PARK CONSERVANCY AT 79TH ST TRANSVERSE...,2006-09-18
55517,72505394728,2024-09-30 20:51:00,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",FM-15,7,30.09,51,...,10.00,56,100,NaN,3.0,MET09509/30/24 20:51:01 METAR KNYC 010151Z 100...,SNOW,SNOWBOARD,CENTRAL PARK CONSERVANCY AT 79TH ST TRANSVERSE...,2006-09-18
55518,72505394728,2024-09-30 21:51:00,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",FM-15,7,30.09,51,...,10.00,56,VRB,NaN,3.0,MET10109/30/24 21:51:01 METAR KNYC 010251Z VRB...,SNOW,SNOWBOARD,CENTRAL PARK CONSERVANCY AT 79TH ST TRANSVERSE...,2006-09-18
55519,72505394728,2024-09-30 22:51:00,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",FM-15,7,30.10,53,...,10.00,57,050,NaN,6.0,MET09209/30/24 22:51:01 METAR KNYC 010351Z 050...,SNOW,SNOWBOARD,CENTRAL PARK CONSERVANCY AT 79TH ST TRANSVERSE...,2006-09-18
55520,72505394728,2024-09-30 23:51:00,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",FM-15,7,30.09,54,...,10.00,58,060,NaN,7.0,MET10209/30/24 23:51:01 METAR KNYC 010451Z 060...,SNOW,SNOWBOARD,CENTRAL PARK CONSERVANCY AT 79TH ST TRANSVERSE...,2006-09-18

In [53]:
def clean_month_weather_data_daily(weather_data):
    """
    Cleans the given weather dataset by:
    1. Keeping only rows where the REPORT_TYPE column is 'SOD' (i.e. daily)
    2. Removing any column that is entirely empty.

    Parameters:
        weather_data (pd.DataFrame): The input weather dataset as a pandas DataFrame.

    Returns:
        pd.DataFrame: The cleaned weather dataset.
    """
    # Filter rows with REPORT_TYPE equal to 'FM-15' or 'FM-16'
    filtered_data = weather_data[weather_data['REPORT_TYPE'] == "SOD  "]

    # Remove columns that are entirely empty
    cleaned_data = filtered_data.dropna(axis=1, how='all')

    return cleaned_data

In [59]:
weather_daily = clean_month_weather_data_daily(weather_data)

weather_daily

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,REPORT_TYPE,SOURCE,Sunrise,Sunset,...,DailySnowDepth,DailySnowfall,DailySustainedWindDirection,DailySustainedWindSpeed,DailyWeather,REM,BackupElements,BackupEquipment,BackupName,WindEquipmentChangeDate
24,72505394728,2020-01-01 23:59:00,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",SOD,6,720.0,1639.0,...,0.0,0.0,270.0,17.0,NaN,SOD74324 HR PRECIPITATION (IN): 0.00 SNOW DEPT...,SNOW,SNOWBOARD,CENTRAL PARK CONSERVANCY AT 79TH ST TRANSVERSE...,2006-09-18
49,72505394728,2020-01-02 23:59:00,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",SOD,6,720.0,1640.0,...,0.0,0.0,230.0,13.0,NaN,SOD64824 HR PRECIPITATION (IN): 0.00 SNOW DEPT...,SNOW,SNOWBOARD,CENTRAL PARK CONSERVANCY AT 79TH ST TRANSVERSE...,2006-09-18
86,72505394728,2020-01-03 23:59:00,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",SOD,6,720.0,1641.0,...,0.0,0.0,250.0,10.0,RA BR HZ,SOD78824 HR PRECIPITATION (IN): 0.15 SNOW DEPT...,SNOW,SNOWBOARD,CENTRAL PARK CONSERVANCY AT 79TH ST TRANSVERSE...,2006-09-18
144,72505394728,2020-01-04 23:59:00,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",SOD,6,720.0,1642.0,...,0.0,0.0,300.0,15.0,RA FG BR,SOD75724 HR PRECIPITATION (IN): 0.27 SNOW DEPT...,SNOW,SNOWBOARD,CENTRAL PARK CONSERVANCY AT 79TH ST TRANSVERSE...,2006-09-18
169,72505394728,2020-01-05 23:59:00,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",SOD,6,720.0,1643.0,...,0.0,0.0,300.0,25.0,RA,SOD74324 HR PRECIPITATION (IN): T SNOW DEPT...,SNOW,SNOWBOARD,CENTRAL PARK CONSERVANCY AT 79TH ST TRANSVERSE...,2006-09-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55350,72505394728,2024-09-26 23:59:00,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",SOD,6,548.0,1745.0,...,NaN,NaN,100,8,RA BR,SOD77724 HR PRECIPITATION (IN): 0.08 WEATHER(C...,SNOW,SNOWBOARD,CENTRAL PARK CONSERVANCY AT 79TH ST TRANSVERSE...,2006-09-18
55384,72505394728,2024-09-27 23:59:00,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",SOD,6,549.0,1743.0,...,NaN,NaN,070,14,RA BR,SOD77124 HR PRECIPITATION (IN): 0.18 WEATHER(C...,SNOW,SNOWBOARD,CENTRAL PARK CONSERVANCY AT 79TH ST TRANSVERSE...,2006-09-18
55434,72505394728,2024-09-28 23:59:00,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",SOD,6,550.0,1742.0,...,NaN,NaN,060,17,RA BR,SOD77124 HR PRECIPITATION (IN): 0.26 WEATHER(C...,SNOW,SNOWBOARD,CENTRAL PARK CONSERVANCY AT 79TH ST TRANSVERSE...,2006-09-18
55491,72505394728,2024-09-29 23:59:00,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",SOD,6,551.0,1740.0,...,NaN,NaN,050,12,RA BR,SOD77524 HR PRECIPITATION (IN): 0.78 WEATHER(C...,SNOW,SNOWBOARD,CENTRAL PARK CONSERVANCY AT 79TH ST TRANSVERSE...,2006-09-18
55521,72505394728,2024-09-30 23:59:00,40.77898,-73.96925,42.7,"NY CITY CENTRAL PARK, NY US",SOD,6,552.0,1738.0,...,NaN,NaN,060,14,NaN,SOD75824 HR PRECIPITATION (IN): 0.00 24 HR MAX...,SNOW,SNOWBOARD,CENTRAL PARK CONSERVANCY AT 79TH ST TRANSVERSE...,2006-09-18

In [ ]:
def load_and_clean_weather_data():
    weather_csv_files = get_all_weather_csvs(WEATHER_CSV_DIR)
    
    hourly_dataframes = []
    daily_dataframes = []
        
    for csv_file in weather_csv_files:
        hourly_dataframe = clean_month_weather_data_hourly(csv_file)
        daily_dataframe = clean_month_weather_data_daily(csv_file)
        hourly_dataframes.append(hourly_dataframe)
        daily_dataframes.append(daily_dataframe)
        
    # create two dataframes with hourly & daily data from every month
    hourly_data = pd.concat(hourly_dataframes)
    daily_data = pd.concat(daily_dataframes)
    
    return hourly_data, daily_data

In [ ]:
hourly_weather_data, daily_weather_data = load_and_clean_weather_data()

In [ ]:
hourly_weather_data.head()

In [ ]:
hourly_weather_data.info()

In [ ]:
hourly_weather_data.describe()

In [ ]:
daily_weather_data.head()

In [ ]:
daily_weather_data.info()

In [ ]:
daily_weather_data.describe()

## Part 2: Storing Cleaned Data

In [105]:
DATABASE_URL = "C:/Final_Project_Dataset/database"
engine = sqlite3.connect(DATABASE_URL+"/my_database.db")

In [107]:
# Load data into DataFrame
taxi_data = pd.read_csv('C:/Final_Project_Dataset/new-datasets/sampled_taxi.csv')
uber_data = pd.read_csv('C:/Final_Project_Dataset/new-datasets/Uber_all_sample.csv')
hourly_data = pd.read_csv('C:/Final_Project_Dataset/new-datasets/weather_hourly.csv')
daily_data = pd.read_csv('C:/Final_Project_Dataset/new-datasets/weather_daily.csv')

C:\Users\Enzo0\AppData\Local\Temp\ipykernel_3568\87108015.py:4: DtypeWarning: Columns (13,15,20) have mixed types. Specify dtype option on import or set low_memory=False.
  hourly_data = pd.read_csv('C:/Final_Project_Dataset/new-datasets/weather_hourly.csv')

In [109]:
taxi_data['tpep_pickup_datetime'] = pd.to_datetime(taxi_data['tpep_pickup_datetime'])
uber_data['pickup_datetime'] = pd.to_datetime(uber_data['pickup_datetime'])
uber_data['dropoff_datetime	'] = pd.to_datetime(uber_data['dropoff_datetime'])
hourly_data['DATE'] = pd.to_datetime(hourly_data['DATE'])
daily_data['DATE'] = pd.to_datetime(daily_data['DATE'])

In [111]:
# if using SQL (as opposed to SQLAlchemy), define the commands 
# to create your 4 tables/dataframes

HOURLY_WEATHER_SCHEMA = """
CREATE TABLE IF NOT EXISTS hourly_weather (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    Station INTEGER,
    Date TEXT,
    Latitude FLOAT,
    Longitude FLOAT,
    Elevation FLOAT,
    Report_type TEXT,
    SOURCE INTEGER,
    HourlyAltimetersetting FLOAT,
    HourlyDewPointTemperature FLOAT,
    HourlyDryBulbTemperatureHourlyPrecipitation FLOAT,
    HourlyPresentWeatherTypeHourlyPressureChange FLOAT,
    HourlyPressureTendency FLOAT,
    HourlyRelativeHumidity FLOAT,
    HourlySkyConditions FLOAT,
    HourlySeaLevelPressure FLOAT,
    HourlyStationPressure FLOAT,
    HourlyVisibility FLOAT,
    HourlyWetBulbTemperature FLOAT,
    HourlyWindDirection FLOAT,
    HourlyWindGustSpeed FLOAT,
    HourlyWindspeed FLOAT
)
"""

DAILY_WEATHER_SCHEMA = """
CREATE TABLE IF NOT EXISTS daily_weather (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    Station INTEGER,
    Date TEXT,
    Latitude FLOAT,
    Longitude FLOAT,
    Elevation FLOAT,
    Report_type TEXT,
    SOURCE INTEGER,
    Sunrise FLOAT,
    Sunset FLOAT,
    DailyAverageDewPointTemperature FLOAT,
    DailyAverageDryBulbTemperature FLOAT,
    DailyAverageRelativeHumidity FLOAT,
    DailyAverageSeaLevelPressure FLOAT,
    DailyAverageStationPressure FLOAT,
    DailyAverageWetBulbTemperature FLOAT,
    DailyAverageWindSpeed FLOAT,
    DailyCoolingDegreeDays FLOAT,
    DailyDepartureFromNormalAverageTemperature FLOAT,
    DailyHeatingDegreeDays FLOAT,
    DailyMaximumDryBulbTemperature FLOAT,
    DailyMinimumDryBulbTemperature FLOAT,
    DailvPeakWindDirection FLOAT,
    DailyPeakWindspeed FLOAT,
    DailyPrecipitation FLOAT,
    DailySnowDepth FLOAT,
    DailySnowfall FLOAT,
    DailySustainedwindDirection FLOAT,
    DailySustainedWindspeed FLOAT,
    DailyWeather FLOAT
)
"""

TAXI_TRIPS_SCHEMA = """
CREATE TABLE IF NOT EXISTS taxi_trips (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    tpep_pickup_datetime TEXT,
    trip_distance FLOAT,
    fare_amount FLOAT,
    extra FLOAT,
    mta_tax FLOAT,
    tip_amount FLOAT,
    tolls_amount FLOAT,
    improvement_surcharge FLOAT,
    congestion_surcharge FLOAT,
    pickup_latitude FLOAT,
    pickup_longitude FLOAT,
    dropoff_latitude FLOAT,
    dropoff_longitude FLOAT
)
"""

UBER_TRIPS_SCHEMA = """
CREATE TABLE IF NOT EXISTS uber_trips (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    pickup_datetime TEXT,
    dropoff_datetime TEXT,
    trip_miles FLOAT,
    base_passenger_fare FLOAT,
    tolls FLOAT,
    sales_tax FLOAT,
    congestion_surcharge FLOAT,
    airport_fee FLOAT,
    tips FLOAT，
    pickup_latitude FLOAT,
    pickup_longitude FLOAT,
    dropoff_latitude FLOAT,
    dropoff_longitude FLOAT
)
"""

In [113]:
# create the tables with the schema files
with engine:
    engine.execute(HOURLY_WEATHER_SCHEMA)
    engine.execute(DAILY_WEATHER_SCHEMA)
    engine.execute(TAXI_TRIPS_SCHEMA)
    engine.execute(UBER_TRIPS_SCHEMA)

### Add Data to Database

In [116]:
def write_dataframes_to_table(table_to_df_dict):
    for table_name, dataframe in table_to_df_dict.items():
        dataframe.to_sql(table_name, con=engine, if_exists="replace", index=False)

In [118]:
map_table_name_to_dataframe = {
    "taxi_trips": taxi_data,
    "uber_trips": uber_data,
    "hourly_weather": hourly_data,
    "daily_weather": daily_data,
}

In [120]:
write_dataframes_to_table(map_table_name_to_dataframe)

In [122]:
from sqlalchemy import text

# Connect to the database
with engine:
    # Query to list all tables
    result = engine.execute("SELECT name FROM sqlite_master WHERE type='table';")
    
    # Fetch and print table names
    tables = [row[0] for row in result]
    print("Tables in the database:", tables)

Tables in the database: ['sqlite_sequence', 'taxi_trips', 'uber_trips', 'hourly_weather', 'daily_weather']

In [124]:
with engine:
    result = engine.execute("PRAGMA table_info(hourly_weather);")
    for row in result:
        print(row)

(0, 'STATION', 'INTEGER', 0, None, 0)
(1, 'DATE', 'TIMESTAMP', 0, None, 0)
(2, 'LATITUDE', 'REAL', 0, None, 0)
(3, 'LONGITUDE', 'REAL', 0, None, 0)
(4, 'ELEVATION', 'REAL', 0, None, 0)
(5, 'NAME', 'TEXT', 0, None, 0)
(6, 'REPORT_TYPE', 'TEXT', 0, None, 0)
(7, 'SOURCE', 'INTEGER', 0, None, 0)
(8, 'HourlyAltimeterSetting', 'TEXT', 0, None, 0)
(9, 'HourlyDewPointTemperature', 'TEXT', 0, None, 0)
(10, 'HourlyDryBulbTemperature', 'TEXT', 0, None, 0)
(11, 'HourlyPrecipitation', 'TEXT', 0, None, 0)
(12, 'HourlyPresentWeatherType', 'TEXT', 0, None, 0)
(13, 'HourlyPressureChange', 'TEXT', 0, None, 0)
(14, 'HourlyPressureTendency', 'REAL', 0, None, 0)
(15, 'HourlyRelativeHumidity', 'TEXT', 0, None, 0)
(16, 'HourlySkyConditions', 'TEXT', 0, None, 0)
(17, 'HourlySeaLevelPressure', 'TEXT', 0, None, 0)
(18, 'HourlyStationPressure', 'TEXT', 0, None, 0)
(19, 'HourlyVisibility', 'TEXT', 0, None, 0)
(20, 'HourlyWetBulbTemperature', 'TEXT', 0, None, 0)
(21, 'HourlyWindDirection', 'TEXT', 0, None, 0)
(22, 'HourlyWindGustSpeed', 'REAL', 0, None, 0)
(23, 'HourlyWindSpeed', 'REAL', 0, None, 0)
(24, 'REM', 'TEXT', 0, None, 0)
(25, 'BackupElements', 'TEXT', 0, None, 0)
(26, 'BackupEquipment', 'TEXT', 0, None, 0)
(27, 'BackupName', 'TEXT', 0, None, 0)
(28, 'WindEquipmentChangeDate', 'TEXT', 0, None, 0)

In [126]:
with engine:
    result = engine.execute("SELECT * FROM taxi_trips LIMIT 10;")
    for row in result:
        print(row)

('2020-01-01 00:36:00', 5.5, 20.0, 3.0, 0.5, 4.75, 0.0, 0.3, 2.5, 40.70680843, -74.00749595, 40.7622526, -73.9898449)
('2020-01-01 00:40:00', 0.5, 7.5, 3.0, 0.5, 2.25, 0.0, 0.3, 2.5, 40.75330876, -74.00401551, 40.7622526, -73.9898449)
('2020-01-01 00:42:00', 0.78, 11.5, 0.5, 0.5, 3.06, 0.0, 0.3, 2.5, 40.75802798, -73.97769803, 40.74857454, -73.98515645)
('2020-01-01 01:14:00', 2.41, 9.0, 0.5, 0.5, 2.56, 0.0, 0.3, 2.5, 40.78043629, -73.95701193, 40.80116913, -73.93734566)
('2020-01-01 01:34:00', 4.39, 16.0, 0.5, 0.5, 0.0, 0.0, 0.3, 2.5, 40.77876574, -73.95101007, 40.73182059, -73.9765976)
('2020-01-01 02:31:00', 0.5, 4.0, 3.0, 0.5, 1.55, 0.0, 0.3, 2.5, 40.76694805, -73.95963501, 40.76694805, -73.95963501)
('2020-01-01 06:55:00', 0.4, 4.0, 0.0, 0.5, 0.0, 0.0, 0.3, 2.5, 40.76861506, -73.96563473, 40.76861506, -73.96563473)
('2020-01-01 10:01:00', 0.63, 4.5, 0.0, 0.5, 1.95, 0.0, 0.3, 2.5, 40.74033737, -73.99045791, 40.74849717, -73.99243754)
('2020-01-01 10:23:00', 0.15, 3.0, 0.0, 0.5, 0.0, 0.0, 0.3, 2.5, 40.76694805, -73.95963501, 40.76694805, -73.95963501)
('2020-01-01 13:07:00', 3.26, 12.5, 0.0, 0.5, 0.0, 0.0, 0.3, 2.5, 40.72388807, -74.0015376, 40.75802798, -73.97769803)

In [128]:
with engine:
    result = engine.execute("PRAGMA table_info(uber_trips);")
    for row in result:
        print(row)

(0, 'pickup_datetime', 'TIMESTAMP', 0, None, 0)
(1, 'dropoff_datetime', 'TEXT', 0, None, 0)
(2, 'trip_miles', 'REAL', 0, None, 0)
(3, 'base_passenger_fare', 'REAL', 0, None, 0)
(4, 'tolls', 'REAL', 0, None, 0)
(5, 'sales_tax', 'REAL', 0, None, 0)
(6, 'congestion_surcharge', 'REAL', 0, None, 0)
(7, 'airport_fee', 'REAL', 0, None, 0)
(8, 'tips', 'REAL', 0, None, 0)
(9, 'PU_latitude', 'REAL', 0, None, 0)
(10, 'PU_longitude', 'REAL', 0, None, 0)
(11, 'DO_latitude', 'REAL', 0, None, 0)
(12, 'DO_longitude', 'REAL', 0, None, 0)
(13, 'dropoff_datetime\t', 'TIMESTAMP', 0, None, 0)

In [130]:
with engine:
    result = engine.execute("SELECT * FROM uber_trips LIMIT 10;")
    for row in result:
        print(row)

('2020-01-01 00:30:00', '2020-1-1 00:40', 4.24, 12.48, 0.0, 1.11, 0.0, None, 0.0, 40.65824751, -73.84491812, 40.67895308, -73.79098676, '2020-01-01 00:40:00')
('2020-01-01 00:30:00', '2020-1-1 00:35', 0.71, 15.3, 0.0, 1.36, 0.0, None, 0.0, 40.86607489, -73.91930842, 40.86607489, -73.91930842, '2020-01-01 00:35:00')
('2020-01-01 01:41:00', '2020-1-1 01:51', 2.12, 13.63, 0.0, 1.21, 0.0, None, 0.0, 40.73949534, -73.87711833, 40.73769793, -73.92467277, '2020-01-01 01:51:00')
('2020-01-01 02:44:00', '2020-1-1 02:58', 4.19, 16.11, 0.0, 1.43, 0.0, None, 0.0, 40.86768222, -73.89018381, 40.88215665, -73.85894863, '2020-01-01 02:58:00')
('2020-01-01 09:25:00', '2020-1-1 09:38', 3.79, 10.6, 0.0, 0.94, 0.0, None, 0.0, 40.65824751, -73.84491812, 40.70354609, -73.87573703, '2020-01-01 09:38:00')
('2020-01-01 14:29:00', '2020-1-1 14:40', 1.3, 5.48, 0.0, 0.49, 0.0, None, 0.0, 40.85777944, -73.88586745, 40.83399041, -73.88590027, '2020-01-01 14:40:00')
('2020-01-01 15:48:00', '2020-1-1 16:04', 6.17, 16.26, 6.12, 1.99, 0.0, None, 0.0, 40.77742668, -73.90540739, 40.81825725, -73.94077209, '2020-01-01 16:04:00')
('2020-01-01 23:39:00', '2020-1-1 23:49', 2.27, 10.4, 0.0, 0.92, 0.0, None, 0.0, 40.70052208, -73.91770956, 40.68816808, -73.93188777, '2020-01-01 23:49:00')
('2020-01-01 23:45:00', '2020-1-1 23:59', 5.13, 16.86, 0.0, 1.5, 2.75, None, 0.0, 40.78043629, -73.95701193, 40.82701261, -73.94852183, '2020-01-01 23:59:00')
('2020-01-02 01:38:00', '2020-1-2 01:57', 9.19, 22.49, 0.0, 2.0, 0.0, None, 0.0, 40.6380369, -73.89973468, 40.58092175, -73.96121662, '2020-01-02 01:57:00')

## Part 3: Understanding the Data

In [31]:
# Helper function to write the queries to file
def write_query_to_file(query, outfile):
    raise NotImplementedError()

### Query 1

In [141]:
QUERY_1_FILENAME = ""

QUERY_1 = """
SELECT 
    STRFTIME('%H', tpep_pickup_datetime) AS hour_of_day, 
    COUNT(*) AS ride_count
FROM 
    taxi_trips
GROUP BY 
    hour_of_day
ORDER BY 
    hour_of_day;
"""

In [143]:
with engine:
    results1 = engine.execute(QUERY_1).fetchall()
results1

[('00', 425),
 ('01', 279),
 ('02', 173),
 ('03', 126),
 ('04', 81),
 ('05', 89),
 ('06', 267),
 ('07', 471),
 ('08', 620),
 ('09', 711),
 ('10', 801),
 ('11', 846),
 ('12', 962),
 ('13', 956),
 ('14', 1008),
 ('15', 1081),
 ('16', 1087),
 ('17', 1073),
 ('18', 1178),
 ('19', 1092),
 ('20', 901),
 ('21', 905),
 ('22', 790),
 ('23', 628)]

In [ ]:
write_query_to_file(QUERY_1, QUERY_1_FILENAME)

### Query 2 ###

In [147]:
QUERY_2_FILENAME = ""

QUERY_2 = """
SELECT 
    STRFTIME('%w', pickup_datetime) AS day_of_week,
    COUNT(*) AS ride_count
FROM 
    uber_trips
WHERE 
    pickup_datetime NOT LIKE '2024-9%'
GROUP BY 
    day_of_week
ORDER BY 
    day_of_week;
"""

In [149]:
with engine:
    results2 = engine.execute(QUERY_2).fetchall()
results2

[('0', 1811),
 ('1', 1552),
 ('2', 1752),
 ('3', 1773),
 ('4', 1798),
 ('5', 1983),
 ('6', 2156)]

### Query 3 ###

In [157]:
QUERY_3_FILENAME = ""

QUERY_3 = """
WITH combined_distances AS (
    SELECT trip_distance AS distance
    FROM taxi_trips
    WHERE tpep_pickup_datetime BETWEEN '2024-01-01' AND '2024-01-31'
    UNION ALL
    SELECT trip_miles AS distance
    FROM uber_trips
    WHERE pickup_datetime BETWEEN '2024-01-01' AND '2024-01-31'
),
sorted_distances AS (
    SELECT 
        distance,
        ROW_NUMBER() OVER (ORDER BY distance) AS row_num,
        COUNT(*) OVER () AS total_rows
    FROM combined_distances
),
percentile_95 AS (
    SELECT 
        distance
    FROM 
        sorted_distances
    WHERE 
        row_num >= 0.95 * total_rows
    ORDER BY 
        row_num ASC
    LIMIT 1
)
SELECT distance AS distance_95_percentile FROM percentile_95;
"""

In [159]:
with engine:
    results3 = engine.execute(QUERY_3).fetchall()
results3

[(12.05,)]

### Query 4 ###

In [161]:
QUERY_4_FILENAME = ""

QUERY_4 = """
WITH daily_rides AS (

    SELECT 
        STRFTIME('%Y-%m-%d', tpep_pickup_datetime) AS ride_date,
        COUNT(*) AS ride_count,
        AVG(trip_distance) AS avg_distance
    FROM 
        taxi_trips
    WHERE 
        tpep_pickup_datetime BETWEEN '2023-01-01' AND '2023-12-31'
    GROUP BY 
        ride_date

    UNION ALL

    SELECT 
        STRFTIME('%Y-%m-%d', pickup_datetime) AS ride_date,
        COUNT(*) AS ride_count,
        AVG(trip_miles) AS avg_distance
    FROM 
        uber_trips
    WHERE 
        pickup_datetime BETWEEN '2023-01-01' AND '2023-12-31'
    GROUP BY 
        ride_date
),
aggregated_rides AS (

    SELECT 
        ride_date,
        SUM(ride_count) AS total_rides,
        AVG(avg_distance) AS avg_distance
    FROM 
        daily_rides
    GROUP BY 
        ride_date
),
top_10_days AS (

    SELECT 
        ride_date,
        total_rides,
        avg_distance
    FROM 
        aggregated_rides
    ORDER BY 
        total_rides DESC
    LIMIT 11
)
SELECT 
    t.ride_date,
    t.total_rides,
    t.avg_distance,
    COALESCE(w.DailyPrecipitation, 0) AS avg_precipitation,
    COALESCE(w.DailyAverageWindSpeed, 0) AS avg_wind_speed
FROM 
    top_10_days t
LEFT JOIN 
    daily_weather w ON t.ride_date = STRFTIME('%Y-%m-%d', w.Date)
ORDER BY 
    t.total_rides DESC
LIMIT 10 OFFSET 1;
"""

In [163]:
with engine:
    results4 = engine.execute(QUERY_4).fetchall()
results4

[('2023-04-20', 29, 3.019236842105263, 'T', 2.7),
 ('2023-11-04', 29, 4.34110294117647, '0.00', 3.0),
 ('2023-11-08', 29, 4.314850490196078, '0.00', 5.3),
 ('2023-02-24', 28, 2.4679589743589743, '0.00', 8.8),
 ('2023-04-05', 27, 3.0875, '0.00', 8.4),
 ('2023-04-18', 27, 3.638690476190476, '0.00', 7.2),
 ('2023-02-03', 26, 3.2434, '0.00', 11.8),
 ('2023-02-11', 26, 2.588423076923077, '0.00', 5.9),
 ('2023-05-13', 26, 2.2528272727272727, '0.00', 2.9),
 ('2023-05-14', 26, 3.9952000000000005, '0.00', 6.2)]

### Query 5 ###

In [165]:
QUERY_5_FILENAME = ""

QUERY_5 = """
WITH snowiest_days AS (
    SELECT 
        DATE(Date) AS snow_date,
        CASE 
            WHEN DailySnowfall = 'T' THEN 0
            ELSE CAST(DailySnowfall AS FLOAT)
        END AS total_snowfall
    FROM 
        daily_weather
    WHERE 
        Date BETWEEN '2020-01-01' AND '2024-08-31'
    ORDER BY 
        total_snowfall DESC
    LIMIT 10
)
SELECT 
    s.snow_date,
    s.total_snowfall,
    (SELECT COUNT(*) 
     FROM taxi_trips 
     WHERE DATE(tpep_pickup_datetime) = s.snow_date) +
    (SELECT COUNT(*) 
     FROM uber_trips 
     WHERE DATE(pickup_datetime) = s.snow_date) AS total_rides
FROM 
    snowiest_days s;
"""

In [167]:
with engine:
    results5 = engine.execute(QUERY_5).fetchall()
results5

[('2021-02-01', 14.8, 4),
 ('2022-01-29', 7.3, 7),
 ('2020-12-16', 6.5, 13),
 ('2022-01-07', 5.8, 19),
 ('2021-02-07', 4.5, 10),
 ('2020-12-17', 4.0, 4),
 ('2021-02-18', 3.2, 9),
 ('2024-02-13', 3.2, 14),
 ('2020-01-18', 2.1, 35),
 ('2021-01-31', 2.0, 10)]

### Query 6 ###

In [194]:
QUERY_6_FILENAME = ""

QUERY_6 = """
WITH hourly_weather_data AS (
    SELECT 
        STRFTIME('%Y-%m-%d %H', Date) AS date_hour,
        SUM(HourlyPrecipitation) AS total_precipitation,
        AVG(HourlyWindspeed) AS avg_wind_speed
    FROM 
        hourly_weather
    WHERE 
        Date BETWEEN '2023-09-25' AND '2023-10-03'
    GROUP BY 
        date_hour
),
taxi_rides AS (
    SELECT 
        STRFTIME('%Y-%m-%d %H', tpep_pickup_datetime) AS date_hour,
        COUNT(*) AS taxi_ride_count
    FROM 
        taxi_trips
    WHERE 
        tpep_pickup_datetime BETWEEN '2023-09-25' AND '2023-10-03'
    GROUP BY 
        date_hour
),
uber_rides AS (
    SELECT 
        STRFTIME('%Y-%m-%d %H', pickup_datetime) AS date_hour,
        COUNT(*) AS uber_ride_count
    FROM 
        uber_trips
    WHERE 
        pickup_datetime BETWEEN '2023-09-25' AND '2023-10-03'
    GROUP BY 
        date_hour
)
SELECT 
    w.date_hour,
    COALESCE(t.taxi_ride_count, 0) + COALESCE(u.uber_ride_count, 0) AS total_rides,
    COALESCE(w.total_precipitation, 0) AS total_precipitation,
    COALESCE(w.avg_wind_speed, 0) AS avg_wind_speed
FROM 
    hourly_weather_data w
LEFT JOIN 
    taxi_rides t ON w.date_hour = t.date_hour
LEFT JOIN 
    uber_rides u ON w.date_hour = u.date_hour
ORDER BY 
    w.date_hour ASC;
"""

In [196]:
with engine:
    results6 = engine.execute(QUERY_6).fetchall()
results6

[('2023-09-25 00', 0, 0.07, 8.333333333333334),
 ('2023-09-25 01', 0, 0.12, 7.0),
 ('2023-09-25 02', 0, 0.14, 7.0),
 ('2023-09-25 03', 0, 0.04, 7.0),
 ('2023-09-25 04', 0, 0.01, 6.0),
 ('2023-09-25 05', 0, 0.17, 8.5),
 ('2023-09-25 06', 0, 0.07, 7.666666666666667),
 ('2023-09-25 07', 1, 0.07, 6.75),
 ('2023-09-25 08', 1, 0.07, 10.0),
 ('2023-09-25 09', 1, 0.02, 10.0),
 ('2023-09-25 10', 1, 0.03, 10.333333333333334),
 ('2023-09-25 11', 1, 0.03, 12.333333333333334),
 ('2023-09-25 12', 0, 0.02, 9.0),
 ('2023-09-25 13', 1, 0.01, 10.0),
 ('2023-09-25 14', 1, 0.01, 8.0),
 ('2023-09-25 15', 1, 0.09, 10.6),
 ('2023-09-25 16', 0, 0.03, 15.0),
 ('2023-09-25 17', 1, 0.0, 9.5),
 ('2023-09-25 18', 1, 0.0, 9.5),
 ('2023-09-25 19', 2, 0.0, 15.0),
 ('2023-09-25 20', 1, 0.0, 11.0),
 ('2023-09-25 21', 0, 0.0, 11.0),
 ('2023-09-25 22', 0, 0.0, 10.0),
 ('2023-09-25 23', 2, 0.0, 8.0),
 ('2023-09-26 00', 1, 0.02, 8.0),
 ('2023-09-26 01', 0, 0.02, 6.0),
 ('2023-09-26 02', 0, 0.0, 10.666666666666666),
 ('2023-09-26 03', 0, 0.0, 10.0),
 ('2023-09-26 04', 0, 0.0, 9.0),
 ('2023-09-26 05', 0, 0.0, 8.0),
 ('2023-09-26 06', 0, 0.0, 6.0),
 ('2023-09-26 07', 0, 0.01, 9.0),
 ('2023-09-26 08', 0, 0.06, 7.6),
 ('2023-09-26 09', 1, 0.03, 9.0),
 ('2023-09-26 10', 0, 0.05, 7.333333333333333),
 ('2023-09-26 11', 2, 0.03, 6.666666666666667),
 ('2023-09-26 12', 0, 0.03, 6.0),
 ('2023-09-26 13', 0, 0.02, 7.0),
 ('2023-09-26 14', 1, 0.03, 4.666666666666667),
 ('2023-09-26 15', 0, 0.01, 3.5),
 ('2023-09-26 16', 0, 0.0, 4.25),
 ('2023-09-26 17', 1, 0.0, 0.0),
 ('2023-09-26 18', 2, 0.0, 5.0),
 ('2023-09-26 19', 1, 0.0, 5.0),
 ('2023-09-26 20', 1, 0.0, 6.0),
 ('2023-09-26 21', 1, 0.0, 5.0),
 ('2023-09-26 22', 2, 0.0, 8.0),
 ('2023-09-26 23', 2, 0.0, 7.0),
 ('2023-09-27 00', 2, 0.0, 9.0),
 ('2023-09-27 01', 0, 0.0, 7.0),
 ('2023-09-27 02', 0, 0.0, 7.0),
 ('2023-09-27 03', 0, 0.0, 3.0),
 ('2023-09-27 04', 0, 0.0, 3.0),
 ('2023-09-27 05', 0, 0.0, 6.0),
 ('2023-09-27 06', 2, 0.0, 6.0),
 ('2023-09-27 07', 0, 0.0, 7.0),
 ('2023-09-27 08', 1, 0.0, 15.0),
 ('2023-09-27 09', 0, 0.0, 14.0),
 ('2023-09-27 10', 0, 0.0, 8.0),
 ('2023-09-27 11', 1, 0.0, 10.0),
 ('2023-09-27 12', 1, 0.0, 8.0),
 ('2023-09-27 13', 0, 0.0, 10.0),
 ('2023-09-27 14', 4, 0.0, 6.0),
 ('2023-09-27 15', 0, 0.0, 6.0),
 ('2023-09-27 16', 2, 0.0, 7.0),
 ('2023-09-27 17', 2, 0.0, 5.0),
 ('2023-09-27 18', 4, 0.0, 5.0),
 ('2023-09-27 19', 0, 0.0, 5.0),
 ('2023-09-27 20', 1, 0.0, 5.0),
 ('2023-09-27 21', 2, 0.0, 3.0),
 ('2023-09-27 22', 2, 0.0, 5.0),
 ('2023-09-27 23', 0, 0.0, 6.0),
 ('2023-09-28 00', 0, 0.0, 6.0),
 ('2023-09-28 01', 0, 0.0, 8.0),
 ('2023-09-28 02', 1, 0.0, 6.5),
 ('2023-09-28 03', 0, 0.0, 5.5),
 ('2023-09-28 04', 0, 0.0, 7.0),
 ('2023-09-28 05', 0, 0.0, 7.0),
 ('2023-09-28 06', 1, 0.0, 7.0),
 ('2023-09-28 07', 1, 0.0, 5.0),
 ('2023-09-28 08', 0, 0.0, 10.0),
 ('2023-09-28 09', 0, 0.0, 7.0),
 ('2023-09-28 10', 1, 0.0, 8.0),
 ('2023-09-28 11', 0, 0.0, 9.0),
 ('2023-09-28 12', 0, 0.0, 10.0),
 ('2023-09-28 13', 1, 0.0, 8.0),
 ('2023-09-28 14', 3, 0.0, 7.0),
 ('2023-09-28 15', 3, 0.0, 11.0),
 ('2023-09-28 16', 1, 0.14, 7.5),
 ('2023-09-28 17', 2, 0.01, 0.0),
 ('2023-09-28 18', 2, 0.0, 5.0),
 ('2023-09-28 19', 2, 0.0, 0.0),
 ('2023-09-28 20', 2, 0.03, 3.0),
 ('2023-09-28 21', 1, 0.07, 5.0),
 ('2023-09-28 22', 1, 0.45, 7.0),
 ('2023-09-28 23', 1, 0.5, 6.5),
 ('2023-09-29 00', 0, 0.32, 6.666666666666667),
 ('2023-09-29 01', 0, 0.11, 8.0),
 ('2023-09-29 02', 0, 0.72, 8.25),
 ('2023-09-29 03', 0, 0.19, 7.75),
 ('2023-09-29 04', 0, 0.13, 8.5),
 ('2023-09-29 05', 0, 0.32, 7.666666666666667),
 ('2023-09-29 06', 0, 0.54, 5.0),
 ('2023-09-29 07', 0, 1.62, 6.0),
 ('2023-09-29 08', 0, 3.71, 6.333333333333333),
 ('2023-09-29 09', 1, 2.09, 10.5),
 ('2023-09-29 10', 2, 0.38, 9.5),
 ('2023-09-29 11', 0, 0.2, 10.0),
 ('2023-09-29 12', 1, 0.67, 9.5),
 ('2023-09-29 13', 2, 0.07, 11.0),
 ('2023-09-29 14', 1, 0.02, 9.0),
 ('2023-09-29 15', 0, 0.0, 7.0),
 ('2023-09-29 16', 0, 0.0, 9.0),
 ('2023-09-29 17', 0, 0.01, 6.0),
 ('2023-09-29 18', 0, 0.0, 3.0),
 ('2023-09-29 19', 1, 0.0, 7.0),
 ('2023-09-29 20', 3, 0.0, 7.0),
 ('2023-09-29 21', 2, 0.0, 8.0),
 ('2023-09-29 22', 3, 0.0, 8.0),
 ('2023-09-29 23', 2, 0.0, 8.0),
 ('2023-09-30 00', 0, 0.0, 9.0),
 ('2023-09-30 01', 0, 0.0, 7.0),
 ('2023-09-30 02', 0, 0.0, 6.5),
 ('2023-09-30 03', 0, 0.0, 5.0),
 ('2023-09-30 04', 0, 0.0, 6.0),
 ('2023-09-30 05', 0, 0.0, 6.0),
 ('2023-09-30 06', 0, 0.0, 6.0),
 ('2023-09-30 07', 0, 0.03, 6.6),
 ('2023-09-30 08', 2, 0.01, 6.0),
 ('2023-09-30 09', 0, 0.0, 7.0),
 ('2023-09-30 10', 0, 0.03, 7.0),
 ('2023-09-30 11', 0, 0.0, 5.333333333333333),
 ('2023-09-30 12', 0, 0.0, 6.5),
 ('2023-09-30 13', 0, 0.0, 7.0),
 ('2023-09-30 14', 1, 0.0, 7.0),
 ('2023-09-30 15', 1, 0.0, 6.0),
 ('2023-09-30 16', 1, 0.0, 2.6666666666666665),
 ('2023-09-30 17', 1, 0.0, 4.5),
 ('2023-09-30 18', 1, 0.0, 5.0),
 ('2023-09-30 19', 3, 0.0, 0.0),
 ('2023-09-30 20', 0, 0.0, 5.0),
 ('2023-09-30 21', 0, 0.0, 3.0),
 ('2023-09-30 22', 0, 0.0, 0.0),
 ('2023-09-30 23', 1, 0.0, 5.0),
 ('2023-10-01 00', 1, 0.0, 0.0),
 ('2023-10-01 02', 1, 0.0, 3.0),
 ('2023-10-01 03', 0, 0.0, 3.0),
 ('2023-10-01 04', 0, 0.0, 3.0),
 ('2023-10-01 05', 0, 0.0, 0.0),
 ('2023-10-01 06', 2, 0.0, 5.0),
 ('2023-10-01 07', 0, 0.0, 3.0),
 ('2023-10-01 08', 0, 0.0, 7.0),
 ('2023-10-01 09', 0, 0.0, 6.0),
 ('2023-10-01 10', 0, 0.0, 6.0),
 ('2023-10-01 11', 1, 0.0, 8.0),
 ('2023-10-01 12', 0, 0.0, 6.0),
 ('2023-10-01 13', 1, 0.0, 5.0),
 ('2023-10-01 14', 1, 0.0, 9.0),
 ('2023-10-01 15', 4, 0.0, 8.0),
 ('2023-10-01 16', 2, 0.0, 5.0),
 ('2023-10-01 17', 1, 0.0, 3.0),
 ('2023-10-01 18', 1, 0.0, 3.0),
 ('2023-10-01 19', 1, 0.0, 6.0),
 ('2023-10-01 20', 1, 0.0, 3.0),
 ('2023-10-01 21', 1, 0.0, 0.0),
 ('2023-10-01 22', 1, 0.0, 3.0),
 ('2023-10-01 23', 1, 0.0, 3.0),
 ('2023-10-02 00', 0, 0.0, 3.0),
 ('2023-10-02 01', 0, 0.0, 3.0),
 ('2023-10-02 02', 0, 0.0, 0.0),
 ('2023-10-02 03', 0, 0.0, 3.0),
 ('2023-10-02 04', 1, 0.0, 0.0),
 ('2023-10-02 05', 0, 0.0, 3.0),
 ('2023-10-02 06', 1, 0.0, 0.0),
 ('2023-10-02 07', 2, 0.0, 0.0),
 ('2023-10-02 08', 2, 0.0, 6.0),
 ('2023-10-02 09', 2, 0.0, 0.0),
 ('2023-10-02 10', 1, 0.0, 5.0),
 ('2023-10-02 11', 2, 0.0, 7.0),
 ('2023-10-02 12', 0, 0.0, 0.0),
 ('2023-10-02 13', 0, 0.0, 5.0),
 ('2023-10-02 14', 0, 0.0, 6.0),
 ('2023-10-02 15', 0, 0.0, 7.0),
 ('2023-10-02 16', 0, 0.0, 7.0),
 ('2023-10-02 17', 1, 0.0, 0.0),
 ('2023-10-02 18', 1, 0.0, 0.0),
 ('2023-10-02 19', 2, 0.0, 0.0),
 ('2023-10-02 20', 1, 0.0, 0.0),
 ('2023-10-02 21', 0, 0.0, 0.0),
 ('2023-10-02 22', 0, 0.0, 0.0),
 ('2023-10-02 23', 0, 0.0, 0.0)]

## Part 4: Visualizing the Data

### Visualization 1

In [ ]:
# use a more descriptive name for your function
def plot_visual_1(dataframe):
    figure, axes = plt.subplots(figsize=(20, 10))
    
    values = "..."  # use the dataframe to pull out values needed to plot
    
    # you may want to use matplotlib to plot your visualizations;
    # there are also many other plot types (other 
    # than axes.plot) you can use
    axes.plot(values, "...")
    # there are other methods to use to label your axes, to style 
    # and set up axes labels, etc
    axes.set_title("Some Descriptive Title")
    
    plt.show()

In [ ]:
def get_data_for_visual_1():
    # Query SQL database for the data needed.
    # You can put the data queried into a pandas dataframe, if you wish
    raise NotImplementedError()

In [ ]:
some_dataframe = get_data_for_visual_1()
plot_visual_1(some_dataframe)